<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GJ_lite_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,31}</string>
                <key>spriteSourceSize</key>
                <string>{90,31}</string>
                <key>textureRect</key>
                <string>{{1,53},{90,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GJ_logo_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{427,50}</string>
                <key>spriteSourceSize</key>
                <string>{429,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{427,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_md_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{185,37}</string>
                <key>spriteSourceSize</key>
                <string>{187,39}</string>
                <key>textureRect</key>
                <string>{{86,109},{185,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RobTopLogoBig_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,54}</string>
                <key>spriteSourceSize</key>
                <string>{148,56}</string>
                <key>textureRect</key>
                <string>{{86,53},{148,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cocos2DxLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,24}</string>
                <key>spriteSourceSize</key>
                <string>{90,24}</string>
                <key>textureRect</key>
                <string>{{34,53},{90,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fmodLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,24}</string>
                <key>spriteSourceSize</key>
                <string>{90,24}</string>
                <key>textureRect</key>
                <string>{{60,53},{90,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gj_subzeroLogo_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{164,41}</string>
                <key>spriteSourceSize</key>
                <string>{166,43}</string>
                <key>textureRect</key>
                <string>{{236,53},{164,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gj_worldLogo_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{135,40}</string>
                <key>spriteSourceSize</key>
                <string>{137,42}</string>
                <key>textureRect</key>
                <string>{{273,96},{135,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_LaunchSheet.png</string>
            <key>size</key>
            <string>{429,147}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71d38a9ac19456aaef500614835d0efc:a121b0f209e6a62e181364263d8fb6e9:7d5c3afd3b92bdb6b931d2f277b34c00$</string>
            <key>textureFileName</key>
            <string>GJ_LaunchSheet.png</string>
        </dict>
    </dict>
</plist>
