<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GJ_lite_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{178,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,62}</string>
                <key>textureRect</key>
                <string>{{692,181},{178,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_logo_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{852,98}</string>
                <key>spriteSourceSize</key>
                <string>{858,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{852,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_md_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{368,71}</string>
                <key>spriteSourceSize</key>
                <string>{374,77}</string>
                <key>textureRect</key>
                <string>{{1,101},{368,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RobTopLogoBig_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{292,103}</string>
                <key>spriteSourceSize</key>
                <string>{296,111}</string>
                <key>textureRect</key>
                <string>{{371,101},{292,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cocos2DxLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,48}</string>
                <key>spriteSourceSize</key>
                <string>{180,48}</string>
                <key>textureRect</key>
                <string>{{328,206},{180,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fmodLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,48}</string>
                <key>spriteSourceSize</key>
                <string>{180,48}</string>
                <key>textureRect</key>
                <string>{{510,206},{180,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gj_subzeroLogo_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{325,79}</string>
                <key>spriteSourceSize</key>
                <string>{331,85}</string>
                <key>textureRect</key>
                <string>{{1,174},{325,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gj_worldLogo_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{268,78}</string>
                <key>spriteSourceSize</key>
                <string>{274,84}</string>
                <key>textureRect</key>
                <string>{{665,101},{268,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_LaunchSheet-hd.png</string>
            <key>size</key>
            <string>{934,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71d38a9ac19456aaef500614835d0efc:a121b0f209e6a62e181364263d8fb6e9:7d5c3afd3b92bdb6b931d2f277b34c00$</string>
            <key>textureFileName</key>
            <string>GJ_LaunchSheet-hd.png</string>
        </dict>
    </dict>
</plist>
