<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pathInnerBG_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-7}</string>
                <key>spriteSize</key>
                <string>{1308,422}</string>
                <key>spriteSourceSize</key>
                <string>{1322,436}</string>
                <key>textureRect</key>
                <string>{{1,1},{1308,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pathLabel_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{593,91}</string>
                <key>spriteSourceSize</key>
                <string>{601,99}</string>
                <key>textureRect</key>
                <string>{{1220,424},{593,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pathLabel_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{537,91}</string>
                <key>spriteSourceSize</key>
                <string>{543,99}</string>
                <key>textureRect</key>
                <string>{{789,1116},{537,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pathLabel_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{735,91}</string>
                <key>spriteSourceSize</key>
                <string>{743,99}</string>
                <key>textureRect</key>
                <string>{{1,1273},{735,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pathLabel_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{787,91}</string>
                <key>spriteSourceSize</key>
                <string>{795,99}</string>
                <key>textureRect</key>
                <string>{{1,1181},{787,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pathLabel_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{605,91}</string>
                <key>spriteSourceSize</key>
                <string>{613,99}</string>
                <key>textureRect</key>
                <string>{{737,1273},{605,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pathLabel_06_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{675,91}</string>
                <key>spriteSourceSize</key>
                <string>{683,99}</string>
                <key>textureRect</key>
                <string>{{944,424},{675,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pathLabel_07_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{691,91}</string>
                <key>spriteSourceSize</key>
                <string>{699,99}</string>
                <key>textureRect</key>
                <string>{{760,424},{691,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pathLabel_08_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{687,91}</string>
                <key>spriteSourceSize</key>
                <string>{695,99}</string>
                <key>textureRect</key>
                <string>{{852,424},{687,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pathLabel_09_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{633,91}</string>
                <key>spriteSourceSize</key>
                <string>{641,99}</string>
                <key>textureRect</key>
                <string>{{1128,424},{633,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pathLabel_10_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{671,91}</string>
                <key>spriteSourceSize</key>
                <string>{679,99}</string>
                <key>textureRect</key>
                <string>{{1036,424},{671,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pathSelectBG_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-7}</string>
                <key>spriteSize</key>
                <string>{758,756}</string>
                <key>spriteSourceSize</key>
                <string>{772,770}</string>
                <key>textureRect</key>
                <string>{{1,424},{758,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_PathSheet-uhd.png</string>
            <key>size</key>
            <string>{1365,1365}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33a037f1f8afed2ddff845c3eef3c8ee:49ea9e4764f2c1ab329f4e90a26c6625:a9c31da711aedc133c068955fa8472a6$</string>
            <key>textureFileName</key>
            <string>GJ_PathSheet-uhd.png</string>
        </dict>
    </dict>
</plist>
