<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pathInnerBG_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{655,212}</string>
                <key>spriteSourceSize</key>
                <string>{661,218}</string>
                <key>textureRect</key>
                <string>{{1,1},{655,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pathLabel_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{299,46}</string>
                <key>spriteSourceSize</key>
                <string>{301,50}</string>
                <key>textureRect</key>
                <string>{{619,214},{299,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pathLabel_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{270,46}</string>
                <key>spriteSourceSize</key>
                <string>{272,50}</string>
                <key>textureRect</key>
                <string>{{398,561},{270,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pathLabel_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{368,46}</string>
                <key>spriteSourceSize</key>
                <string>{372,50}</string>
                <key>textureRect</key>
                <string>{{1,641},{368,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pathLabel_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{396,46}</string>
                <key>spriteSourceSize</key>
                <string>{398,50}</string>
                <key>textureRect</key>
                <string>{{1,594},{396,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pathLabel_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{303,46}</string>
                <key>spriteSourceSize</key>
                <string>{307,50}</string>
                <key>textureRect</key>
                <string>{{572,214},{303,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pathLabel_06_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{340,46}</string>
                <key>spriteSourceSize</key>
                <string>{342,50}</string>
                <key>textureRect</key>
                <string>{{478,214},{340,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pathLabel_07_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{346,46}</string>
                <key>spriteSourceSize</key>
                <string>{350,50}</string>
                <key>textureRect</key>
                <string>{{431,214},{346,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pathLabel_08_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{346,48}</string>
                <key>spriteSourceSize</key>
                <string>{348,50}</string>
                <key>textureRect</key>
                <string>{{382,214},{346,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pathLabel_09_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{317,46}</string>
                <key>spriteSourceSize</key>
                <string>{321,50}</string>
                <key>textureRect</key>
                <string>{{370,641},{317,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pathLabel_10_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{338,46}</string>
                <key>spriteSourceSize</key>
                <string>{340,50}</string>
                <key>textureRect</key>
                <string>{{525,214},{338,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pathSelectBG_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{380,379}</string>
                <key>spriteSourceSize</key>
                <string>{386,385}</string>
                <key>textureRect</key>
                <string>{{1,214},{380,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_PathSheet-hd.png</string>
            <key>size</key>
            <string>{688,688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33a037f1f8afed2ddff845c3eef3c8ee:49ea9e4764f2c1ab329f4e90a26c6625:a9c31da711aedc133c068955fa8472a6$</string>
            <key>textureFileName</key>
            <string>GJ_PathSheet-hd.png</string>
        </dict>
    </dict>
</plist>
