<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chest03_small_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,26}</string>
                <key>spriteSourceSize</key>
                <string>{31,26}</string>
                <key>textureRect</key>
                <string>{{372,105},{31,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,80}</string>
                <key>spriteSourceSize</key>
                <string>{99,80}</string>
                <key>textureRect</key>
                <string>{{525,285},{99,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_01_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{325,625},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,81}</string>
                <key>spriteSourceSize</key>
                <string>{96,81}</string>
                <key>textureRect</key>
                <string>{{606,265},{96,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{76,8}</string>
                <key>spriteSourceSize</key>
                <string>{76,14}</string>
                <key>textureRect</key>
                <string>{{422,688},{76,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{164,35}</string>
                <key>spriteSourceSize</key>
                <string>{164,63}</string>
                <key>textureRect</key>
                <string>{{207,105},{164,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{96,43}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{606,347},{96,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{81,50}</string>
                <key>spriteSourceSize</key>
                <string>{81,82}</string>
                <key>textureRect</key>
                <string>{{241,651},{81,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{74,39}</string>
                <key>spriteSourceSize</key>
                <string>{74,71}</string>
                <key>textureRect</key>
                <string>{{516,245},{74,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,101}</string>
                <key>spriteSourceSize</key>
                <string>{125,101}</string>
                <key>textureRect</key>
                <string>{{126,165},{125,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_02_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,97}</string>
                <key>spriteSourceSize</key>
                <string>{121,97}</string>
                <key>textureRect</key>
                <string>{{124,291},{121,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,101}</string>
                <key>spriteSourceSize</key>
                <string>{121,101}</string>
                <key>textureRect</key>
                <string>{{107,496},{121,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{95,17}</string>
                <key>spriteSourceSize</key>
                <string>{95,25}</string>
                <key>textureRect</key>
                <string>{{465,536},{95,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{205,43}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{1,121},{205,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{121,54}</string>
                <key>spriteSourceSize</key>
                <string>{121,96}</string>
                <key>textureRect</key>
                <string>{{107,598},{121,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{101,61}</string>
                <key>spriteSourceSize</key>
                <string>{101,103}</string>
                <key>textureRect</key>
                <string>{{1,633},{101,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,88}</string>
                <key>textureRect</key>
                <string>{{490,385},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,97}</string>
                <key>spriteSourceSize</key>
                <string>{121,97}</string>
                <key>textureRect</key>
                <string>{{536,45},{121,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,101}</string>
                <key>spriteSourceSize</key>
                <string>{121,101}</string>
                <key>textureRect</key>
                <string>{{246,248},{121,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_03_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{95,17}</string>
                <key>spriteSourceSize</key>
                <string>{95,25}</string>
                <key>textureRect</key>
                <string>{{463,554},{95,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{205,43}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{1,121},{205,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{121,54}</string>
                <key>spriteSourceSize</key>
                <string>{121,96}</string>
                <key>textureRect</key>
                <string>{{348,248},{121,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_03_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{101,61}</string>
                <key>spriteSourceSize</key>
                <string>{101,103}</string>
                <key>textureRect</key>
                <string>{{465,434},{101,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_03_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,88}</string>
                <key>textureRect</key>
                <string>{{490,385},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,97}</string>
                <key>spriteSourceSize</key>
                <string>{121,97}</string>
                <key>textureRect</key>
                <string>{{595,143},{121,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_04_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,101}</string>
                <key>spriteSourceSize</key>
                <string>{121,101}</string>
                <key>textureRect</key>
                <string>{{351,143},{121,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{95,17}</string>
                <key>spriteSourceSize</key>
                <string>{95,25}</string>
                <key>textureRect</key>
                <string>{{685,513},{95,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_04_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{205,43}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{207,61},{205,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{121,54}</string>
                <key>spriteSourceSize</key>
                <string>{121,96}</string>
                <key>textureRect</key>
                <string>{{403,324},{121,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{101,61}</string>
                <key>spriteSourceSize</key>
                <string>{101,103}</string>
                <key>textureRect</key>
                <string>{{342,563},{101,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,88}</string>
                <key>textureRect</key>
                <string>{{649,420},{92,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_05_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,97}</string>
                <key>spriteSourceSize</key>
                <string>{122,97}</string>
                <key>textureRect</key>
                <string>{{413,45},{122,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,101}</string>
                <key>spriteSourceSize</key>
                <string>{121,101}</string>
                <key>textureRect</key>
                <string>{{473,143},{121,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{95,17}</string>
                <key>spriteSourceSize</key>
                <string>{95,25}</string>
                <key>textureRect</key>
                <string>{{515,685},{95,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{205,43}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{413,1},{205,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{121,54}</string>
                <key>spriteSourceSize</key>
                <string>{121,96}</string>
                <key>textureRect</key>
                <string>{{246,370},{121,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{101,61}</string>
                <key>spriteSourceSize</key>
                <string>{101,103}</string>
                <key>textureRect</key>
                <string>{{527,434},{101,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_05_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,88}</string>
                <key>textureRect</key>
                <string>{{559,571},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{122,106}</string>
                <key>spriteSourceSize</key>
                <string>{122,114}</string>
                <key>textureRect</key>
                <string>{{228,141},{122,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{124,105}</string>
                <key>spriteSourceSize</key>
                <string>{124,111}</string>
                <key>textureRect</key>
                <string>{{1,383},{124,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_06_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,28}</string>
                <key>spriteSourceSize</key>
                <string>{95,28}</string>
                <key>textureRect</key>
                <string>{{583,391},{95,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{205,59}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{1,1},{205,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{121,54}</string>
                <key>spriteSourceSize</key>
                <string>{121,96}</string>
                <key>textureRect</key>
                <string>{{368,379},{121,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{112,74}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{230,425},{112,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{92,59}</string>
                <key>spriteSourceSize</key>
                <string>{92,85}</string>
                <key>textureRect</key>
                <string>{{422,628},{92,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{122,106}</string>
                <key>spriteSourceSize</key>
                <string>{122,114}</string>
                <key>textureRect</key>
                <string>{{107,389},{122,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{124,105}</string>
                <key>spriteSourceSize</key>
                <string>{124,111}</string>
                <key>textureRect</key>
                <string>{{1,508},{124,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_07_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,28}</string>
                <key>spriteSourceSize</key>
                <string>{95,28}</string>
                <key>textureRect</key>
                <string>{{589,513},{95,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{205,59}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{1,61},{205,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{121,54}</string>
                <key>spriteSourceSize</key>
                <string>{121,96}</string>
                <key>textureRect</key>
                <string>{{343,434},{121,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{229,500},{112,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{92,56}</string>
                <key>spriteSourceSize</key>
                <string>{92,80}</string>
                <key>textureRect</key>
                <string>{{515,628},{92,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{122,108}</string>
                <key>spriteSourceSize</key>
                <string>{122,118}</string>
                <key>textureRect</key>
                <string>{{1,274},{122,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{124,108}</string>
                <key>spriteSourceSize</key>
                <string>{124,116}</string>
                <key>textureRect</key>
                <string>{{1,165},{124,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,28}</string>
                <key>spriteSourceSize</key>
                <string>{95,28}</string>
                <key>textureRect</key>
                <string>{{561,542},{95,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{205,59}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{207,1},{205,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{121,54}</string>
                <key>spriteSourceSize</key>
                <string>{121,96}</string>
                <key>textureRect</key>
                <string>{{343,489},{121,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{112,78}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{403,245},{112,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{92,59}</string>
                <key>spriteSourceSize</key>
                <string>{92,83}</string>
                <key>textureRect</key>
                <string>{{589,420},{92,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_glow_bg_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-8}</string>
                <key>spriteSize</key>
                <string>{52,25}</string>
                <key>spriteSourceSize</key>
                <string>{184,41}</string>
                <key>textureRect</key>
                <string>{{611,677},{52,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_shadow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,18}</string>
                <key>spriteSourceSize</key>
                <string>{120,18}</string>
                <key>textureRect</key>
                <string>{{342,544},{120,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>getOrbsLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{56,39}</string>
                <key>spriteSourceSize</key>
                <string>{56,41}</string>
                <key>textureRect</key>
                <string>{{608,620},{56,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gj_videoRewardBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,73}</string>
                <key>spriteSourceSize</key>
                <string>{95,73}</string>
                <key>textureRect</key>
                <string>{{229,577},{95,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plushies_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{94,55}</string>
                <key>spriteSourceSize</key>
                <string>{98,55}</string>
                <key>textureRect</key>
                <string>{{444,572},{94,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{49,68}</string>
                <key>spriteSourceSize</key>
                <string>{49,116}</string>
                <key>textureRect</key>
                <string>{{103,653},{49,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope2_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{325,577},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{43,68}</string>
                <key>spriteSourceSize</key>
                <string>{45,116}</string>
                <key>textureRect</key>
                <string>{{619,1},{43,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope3_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{325,599},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope4_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{44,116}</string>
                <key>textureRect</key>
                <string>{{658,45},{44,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope4_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{207,141},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope5_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{49,68}</string>
                <key>spriteSourceSize</key>
                <string>{51,116}</string>
                <key>textureRect</key>
                <string>{{172,653},{49,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope5_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{228,248},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_ShopSheet.png</string>
            <key>size</key>
            <string>{703,703}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1533916f3a9feaa81d42e08a47f3d09:075c08893191acfcd55a23a874e40e47:6b4b2686c87e2a64c351d919627ac8a1$</string>
            <key>textureFileName</key>
            <string>GJ_ShopSheet.png</string>
        </dict>
    </dict>
</plist>
