<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shopBG_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7.5,7.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{538,89},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7.5,7.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{538,89},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7.5,7.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{538,89},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{15,7}</string>
                <key>textureRect</key>
                <string>{{538,89},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6.5,0.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{16,4}</string>
                <key>textureRect</key>
                <string>{{538,89},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,12}</string>
                <key>spriteSourceSize</key>
                <string>{21,12}</string>
                <key>textureRect</key>
                <string>{{525,89},{21,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper4_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{87,61}</string>
                <key>spriteSourceSize</key>
                <string>{87,79}</string>
                <key>textureRect</key>
                <string>{{482,1},{87,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper4_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,20}</string>
                <key>spriteSourceSize</key>
                <string>{67,20}</string>
                <key>textureRect</key>
                <string>{{520,132},{67,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper4_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,25}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{510,200},{67,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper4_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,27}</string>
                <key>spriteSourceSize</key>
                <string>{67,27}</string>
                <key>textureRect</key>
                <string>{{482,198},{67,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper4_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{482,89},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{538,89},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{538,89},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,37}</string>
                <key>spriteSourceSize</key>
                <string>{65,37}</string>
                <key>textureRect</key>
                <string>{{482,132},{65,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopSign4_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{145,72}</string>
                <key>spriteSourceSize</key>
                <string>{149,88}</string>
                <key>textureRect</key>
                <string>{{466,322},{145,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>storeDesk_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,195}</string>
                <key>spriteSourceSize</key>
                <string>{464,195}</string>
                <key>textureRect</key>
                <string>{{1,322},{464,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_ShopSheet02.png</string>
            <key>size</key>
            <string>{544,544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f9dd5668582c521aeb9690c06f4a451:48dedc750173a5e9b542125089fd3371:7d38439e8f4165eb4dfd07955cbb4350$</string>
            <key>textureFileName</key>
            <string>GJ_ShopSheet02.png</string>
        </dict>
    </dict>
</plist>
