<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shopBG_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1280}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{2031,1032},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{72,54}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{2031,1105},{72,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{72,34}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{2091,566},{72,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{60,10}</string>
                <key>spriteSourceSize</key>
                <string>{60,26}</string>
                <key>textureRect</key>
                <string>{{2091,639},{60,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,16}</string>
                <key>spriteSourceSize</key>
                <string>{62,16}</string>
                <key>textureRect</key>
                <string>{{2126,566},{62,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{94,62}</string>
                <key>spriteSourceSize</key>
                <string>{94,66}</string>
                <key>textureRect</key>
                <string>{{2039,969},{94,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,36}</string>
                <key>spriteSize</key>
                <string>{366,222}</string>
                <key>spriteSourceSize</key>
                <string>{366,294}</string>
                <key>textureRect</key>
                <string>{{1922,1},{366,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{290,116}</string>
                <key>spriteSourceSize</key>
                <string>{290,118}</string>
                <key>textureRect</key>
                <string>{{1922,688},{290,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,100}</string>
                <key>spriteSourceSize</key>
                <string>{268,100}</string>
                <key>textureRect</key>
                <string>{{2039,700},{268,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,108}</string>
                <key>spriteSourceSize</key>
                <string>{268,108}</string>
                <key>textureRect</key>
                <string>{{1922,979},{268,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{1922,519},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{2091,519},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2126,629},{28,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{218,150}</string>
                <key>spriteSourceSize</key>
                <string>{218,152}</string>
                <key>textureRect</key>
                <string>{{1922,368},{218,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopSign5_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,35}</string>
                <key>spriteSize</key>
                <string>{550,280}</string>
                <key>spriteSourceSize</key>
                <string>{556,350}</string>
                <key>textureRect</key>
                <string>{{1856,1282},{550,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>storeDesk_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1854,778}</string>
                <key>spriteSourceSize</key>
                <string>{1854,778}</string>
                <key>textureRect</key>
                <string>{{1,1282},{1854,778}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_ShopSheet03-uhd.png</string>
            <key>size</key>
            <string>{2145,2145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0be007e136d0a4a0edb63b1e64c54205:01fdb5a5d75752ee33ebd32fc59623c2:d95c6383bd683c83398f1d61e8c6407b$</string>
            <key>textureFileName</key>
            <string>GJ_ShopSheet03-uhd.png</string>
        </dict>
    </dict>
</plist>
