<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shopBG_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1104,564},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1104,675},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{36,18}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1104,762},{36,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{30,7}</string>
                <key>spriteSourceSize</key>
                <string>{30,13}</string>
                <key>textureRect</key>
                <string>{{1104,828},{30,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,8}</string>
                <key>spriteSourceSize</key>
                <string>{31,8}</string>
                <key>textureRect</key>
                <string>{{1104,819},{31,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,24}</string>
                <key>spriteSourceSize</key>
                <string>{42,24}</string>
                <key>textureRect</key>
                <string>{{1104,836},{42,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,66}</string>
                <key>spriteSourceSize</key>
                <string>{134,66}</string>
                <key>textureRect</key>
                <string>{{929,841},{134,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,50}</string>
                <key>spriteSourceSize</key>
                <string>{134,50}</string>
                <key>textureRect</key>
                <string>{{614,1085},{134,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,50}</string>
                <key>spriteSourceSize</key>
                <string>{134,50}</string>
                <key>textureRect</key>
                <string>{{614,1032},{134,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{134,54}</string>
                <key>textureRect</key>
                <string>{{929,975},{134,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{224,1032},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{929,728},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{14,10}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{1129,836},{14,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,74}</string>
                <key>spriteSourceSize</key>
                <string>{105,74}</string>
                <key>textureRect</key>
                <string>{{1,1032},{105,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1104,601},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1104,704},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{36,18}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1104,781},{36,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{30,7}</string>
                <key>spriteSourceSize</key>
                <string>{30,13}</string>
                <key>textureRect</key>
                <string>{{1104,828},{30,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,8}</string>
                <key>spriteSourceSize</key>
                <string>{31,8}</string>
                <key>textureRect</key>
                <string>{{1104,819},{31,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,24}</string>
                <key>spriteSourceSize</key>
                <string>{42,24}</string>
                <key>textureRect</key>
                <string>{{929,642},{42,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{134,79}</string>
                <key>spriteSourceSize</key>
                <string>{134,89}</string>
                <key>textureRect</key>
                <string>{{479,1032},{134,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{134,38}</string>
                <key>spriteSourceSize</key>
                <string>{134,50}</string>
                <key>textureRect</key>
                <string>{{1064,841},{134,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,50}</string>
                <key>spriteSourceSize</key>
                <string>{134,50}</string>
                <key>textureRect</key>
                <string>{{749,1085},{134,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{134,54}</string>
                <key>textureRect</key>
                <string>{{1064,976},{134,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{309,1032},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{944,728},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{14,10}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{1129,836},{14,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,74}</string>
                <key>spriteSourceSize</key>
                <string>{105,74}</string>
                <key>textureRect</key>
                <string>{{76,1032},{105,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1104,638},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1104,733},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{36,18}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1104,800},{36,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{30,7}</string>
                <key>spriteSourceSize</key>
                <string>{30,13}</string>
                <key>textureRect</key>
                <string>{{1104,828},{30,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,8}</string>
                <key>spriteSourceSize</key>
                <string>{31,8}</string>
                <key>textureRect</key>
                <string>{{1104,819},{31,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,24}</string>
                <key>spriteSourceSize</key>
                <string>{42,24}</string>
                <key>textureRect</key>
                <string>{{929,685},{42,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,66}</string>
                <key>spriteSourceSize</key>
                <string>{134,66}</string>
                <key>textureRect</key>
                <string>{{929,908},{134,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,50}</string>
                <key>spriteSourceSize</key>
                <string>{134,50}</string>
                <key>textureRect</key>
                <string>{{749,1032},{134,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,50}</string>
                <key>spriteSourceSize</key>
                <string>{134,50}</string>
                <key>textureRect</key>
                <string>{{884,1085},{134,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{134,54}</string>
                <key>textureRect</key>
                <string>{{929,1030},{134,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{394,1032},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{929,743},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{14,10}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{1129,836},{14,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,72}</string>
                <key>spriteSourceSize</key>
                <string>{104,72}</string>
                <key>textureRect</key>
                <string>{{151,1032},{104,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopSign2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{282,175}</string>
                <key>spriteSourceSize</key>
                <string>{282,177}</string>
                <key>textureRect</key>
                <string>{{962,281},{282,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopSign3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{279,179}</string>
                <key>spriteSourceSize</key>
                <string>{279,181}</string>
                <key>textureRect</key>
                <string>{{962,1},{279,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopSign_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,17}</string>
                <key>spriteSize</key>
                <string>{276,141}</string>
                <key>spriteSourceSize</key>
                <string>{278,175}</string>
                <key>textureRect</key>
                <string>{{962,564},{276,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>storeDesk_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{927,389}</string>
                <key>spriteSourceSize</key>
                <string>{927,389}</string>
                <key>textureRect</key>
                <string>{{1,642},{927,389}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_ShopSheet01-hd.png</string>
            <key>size</key>
            <string>{1142,1142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70c9dfe169b0482bd1982150c52cf7da:87bce1ea9b6dea6d3e4d189eeb24437e:b4ab8de324edf3f9444aff23726d5699$</string>
            <key>textureFileName</key>
            <string>GJ_ShopSheet01-hd.png</string>
        </dict>
    </dict>
</plist>
