<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shopBG_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{497,548},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{555,165},{18,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{18,10}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{561,516},{18,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{15,5}</string>
                <key>spriteSourceSize</key>
                <string>{15,7}</string>
                <key>textureRect</key>
                <string>{{401,566},{15,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,4}</string>
                <key>spriteSourceSize</key>
                <string>{16,4}</string>
                <key>textureRect</key>
                <string>{{482,317},{16,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,12}</string>
                <key>spriteSourceSize</key>
                <string>{21,12}</string>
                <key>textureRect</key>
                <string>{{555,143},{21,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,33}</string>
                <key>spriteSourceSize</key>
                <string>{67,33}</string>
                <key>textureRect</key>
                <string>{{482,283},{67,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,25}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{107,546},{67,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,25}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{175,546},{67,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,27}</string>
                <key>spriteSourceSize</key>
                <string>{67,27}</string>
                <key>textureRect</key>
                <string>{{107,518},{67,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{432,518},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{466,505},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{7,5}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{417,566},{7,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,37}</string>
                <key>spriteSourceSize</key>
                <string>{53,37}</string>
                <key>textureRect</key>
                <string>{{1,518},{53,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{550,283},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{555,184},{18,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{18,10}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{561,535},{18,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{15,5}</string>
                <key>spriteSourceSize</key>
                <string>{15,7}</string>
                <key>textureRect</key>
                <string>{{401,566},{15,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,4}</string>
                <key>spriteSourceSize</key>
                <string>{16,4}</string>
                <key>textureRect</key>
                <string>{{482,317},{16,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,12}</string>
                <key>spriteSourceSize</key>
                <string>{21,12}</string>
                <key>textureRect</key>
                <string>{{379,555},{21,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{67,41}</string>
                <key>spriteSourceSize</key>
                <string>{67,45}</string>
                <key>textureRect</key>
                <string>{{466,463},{67,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{67,19}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{39,552},{67,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,25}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{243,546},{67,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,27}</string>
                <key>spriteSourceSize</key>
                <string>{67,27}</string>
                <key>textureRect</key>
                <string>{{175,518},{67,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{475,505},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{518,505},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{7,5}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{417,566},{7,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,37}</string>
                <key>spriteSourceSize</key>
                <string>{52,37}</string>
                <key>textureRect</key>
                <string>{{534,463},{52,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{550,302},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{555,203},{18,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{18,10}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{401,555},{18,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{15,5}</string>
                <key>spriteSourceSize</key>
                <string>{15,7}</string>
                <key>textureRect</key>
                <string>{{401,566},{15,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,4}</string>
                <key>spriteSourceSize</key>
                <string>{16,4}</string>
                <key>textureRect</key>
                <string>{{482,317},{16,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,12}</string>
                <key>spriteSourceSize</key>
                <string>{21,12}</string>
                <key>textureRect</key>
                <string>{{475,548},{21,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,33}</string>
                <key>spriteSourceSize</key>
                <string>{67,33}</string>
                <key>textureRect</key>
                <string>{{39,518},{67,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,25}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{311,518},{67,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,25}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{311,544},{67,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,27}</string>
                <key>spriteSourceSize</key>
                <string>{67,27}</string>
                <key>textureRect</key>
                <string>{{243,518},{67,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{518,516},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{526,505},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{7,5}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{417,566},{7,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,36}</string>
                <key>spriteSourceSize</key>
                <string>{52,36}</string>
                <key>textureRect</key>
                <string>{{379,518},{52,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopSign2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,89}</string>
                <key>spriteSourceSize</key>
                <string>{141,89}</string>
                <key>textureRect</key>
                <string>{{482,1},{141,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopSign3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,91}</string>
                <key>spriteSourceSize</key>
                <string>{140,91}</string>
                <key>textureRect</key>
                <string>{{466,322},{140,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopSign_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{139,72}</string>
                <key>spriteSourceSize</key>
                <string>{139,88}</string>
                <key>textureRect</key>
                <string>{{482,143},{139,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>storeDesk_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,195}</string>
                <key>spriteSourceSize</key>
                <string>{464,195}</string>
                <key>textureRect</key>
                <string>{{1,322},{464,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_ShopSheet01.png</string>
            <key>size</key>
            <string>{572,572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70c9dfe169b0482bd1982150c52cf7da:87bce1ea9b6dea6d3e4d189eeb24437e:b4ab8de324edf3f9444aff23726d5699$</string>
            <key>textureFileName</key>
            <string>GJ_ShopSheet01.png</string>
        </dict>
    </dict>
</plist>
