<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shopBG_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1280}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1077,2162},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{72,54}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1381,2162},{72,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{72,34}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{2246,1544},{72,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{60,10}</string>
                <key>spriteSourceSize</key>
                <string>{60,26}</string>
                <key>textureRect</key>
                <string>{{2271,1},{60,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,16}</string>
                <key>spriteSourceSize</key>
                <string>{62,16}</string>
                <key>textureRect</key>
                <string>{{2137,1813},{62,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{1,2218},{84,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,132}</string>
                <key>spriteSourceSize</key>
                <string>{268,132}</string>
                <key>textureRect</key>
                <string>{{1856,1833},{268,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,100}</string>
                <key>spriteSourceSize</key>
                <string>{268,100}</string>
                <key>textureRect</key>
                <string>{{1077,2061},{268,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,100}</string>
                <key>spriteSourceSize</key>
                <string>{268,100}</string>
                <key>textureRect</key>
                <string>{{1346,2061},{268,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,108}</string>
                <key>spriteSourceSize</key>
                <string>{268,108}</string>
                <key>textureRect</key>
                <string>{{2137,1544},{268,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{1615,2061},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2246,1617},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1,2269},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,148}</string>
                <key>spriteSourceSize</key>
                <string>{210,148}</string>
                <key>textureRect</key>
                <string>{{2137,1123},{210,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1150,2162},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{72,54}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1454,2162},{72,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{72,34}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1077,2235},{72,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{60,10}</string>
                <key>spriteSourceSize</key>
                <string>{60,26}</string>
                <key>textureRect</key>
                <string>{{2271,1},{60,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,16}</string>
                <key>spriteSourceSize</key>
                <string>{62,16}</string>
                <key>textureRect</key>
                <string>{{2137,1813},{62,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{1296,2162},{84,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{268,156}</string>
                <key>spriteSourceSize</key>
                <string>{268,178}</string>
                <key>textureRect</key>
                <string>{{1,2061},{268,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{268,74}</string>
                <key>spriteSourceSize</key>
                <string>{268,100}</string>
                <key>textureRect</key>
                <string>{{270,2194},{268,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,100}</string>
                <key>spriteSourceSize</key>
                <string>{268,100}</string>
                <key>textureRect</key>
                <string>{{1856,1966},{268,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,108}</string>
                <key>spriteSourceSize</key>
                <string>{268,108}</string>
                <key>textureRect</key>
                <string>{{539,2061},{268,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{1784,2067},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1150,2235},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1,2269},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,148}</string>
                <key>spriteSourceSize</key>
                <string>{209,148}</string>
                <key>textureRect</key>
                <string>{{2137,1334},{209,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1223,2162},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{72,54}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1527,2162},{72,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{72,34}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{171,2218},{72,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{60,10}</string>
                <key>spriteSourceSize</key>
                <string>{60,26}</string>
                <key>textureRect</key>
                <string>{{2271,1},{60,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,16}</string>
                <key>spriteSourceSize</key>
                <string>{62,16}</string>
                <key>textureRect</key>
                <string>{{2137,1813},{62,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{86,2218},{84,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,132}</string>
                <key>spriteSourceSize</key>
                <string>{268,132}</string>
                <key>textureRect</key>
                <string>{{270,2061},{268,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,100}</string>
                <key>spriteSourceSize</key>
                <string>{268,100}</string>
                <key>textureRect</key>
                <string>{{539,2170},{268,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,100}</string>
                <key>spriteSourceSize</key>
                <string>{268,100}</string>
                <key>textureRect</key>
                <string>{{808,2170},{268,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,108}</string>
                <key>spriteSourceSize</key>
                <string>{268,108}</string>
                <key>textureRect</key>
                <string>{{808,2061},{268,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{1953,2067},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2246,1646},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1,2269},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,144}</string>
                <key>spriteSourceSize</key>
                <string>{208,144}</string>
                <key>textureRect</key>
                <string>{{1922,1123},{208,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopSign2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{564,348}</string>
                <key>spriteSourceSize</key>
                <string>{564,354}</string>
                <key>textureRect</key>
                <string>{{1922,1},{564,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopSign3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{556,356}</string>
                <key>spriteSourceSize</key>
                <string>{558,362}</string>
                <key>textureRect</key>
                <string>{{1922,566},{556,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopSign_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,35}</string>
                <key>spriteSize</key>
                <string>{550,280}</string>
                <key>spriteSourceSize</key>
                <string>{556,350}</string>
                <key>textureRect</key>
                <string>{{1856,1282},{550,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>storeDesk_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1854,778}</string>
                <key>spriteSourceSize</key>
                <string>{1854,778}</string>
                <key>textureRect</key>
                <string>{{1,1282},{1854,778}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_ShopSheet01-uhd.png</string>
            <key>size</key>
            <string>{2286,2286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70c9dfe169b0482bd1982150c52cf7da:87bce1ea9b6dea6d3e4d189eeb24437e:b4ab8de324edf3f9444aff23726d5699$</string>
            <key>textureFileName</key>
            <string>GJ_ShopSheet01-uhd.png</string>
        </dict>
    </dict>
</plist>
