<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shopBG_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{508,276},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{525,139},{18,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{18,10}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{525,171},{18,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{15,5}</string>
                <key>spriteSourceSize</key>
                <string>{15,7}</string>
                <key>textureRect</key>
                <string>{{525,133},{15,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,4}</string>
                <key>spriteSourceSize</key>
                <string>{16,4}</string>
                <key>textureRect</key>
                <string>{{536,171},{16,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,17}</string>
                <key>spriteSourceSize</key>
                <string>{24,17}</string>
                <key>textureRect</key>
                <string>{{508,258},{24,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{92,58}</string>
                <key>spriteSourceSize</key>
                <string>{92,74}</string>
                <key>textureRect</key>
                <string>{{482,1},{92,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,30}</string>
                <key>spriteSourceSize</key>
                <string>{73,30}</string>
                <key>textureRect</key>
                <string>{{482,176},{73,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,25}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{482,250},{67,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,27}</string>
                <key>spriteSourceSize</key>
                <string>{67,27}</string>
                <key>textureRect</key>
                <string>{{513,190},{67,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{482,133},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{525,158},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{7,5}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{513,176},{7,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,38}</string>
                <key>spriteSourceSize</key>
                <string>{55,38}</string>
                <key>textureRect</key>
                <string>{{482,94},{55,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopSign5_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{139,72}</string>
                <key>spriteSourceSize</key>
                <string>{139,88}</string>
                <key>textureRect</key>
                <string>{{466,322},{139,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>storeDesk_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,195}</string>
                <key>spriteSourceSize</key>
                <string>{464,195}</string>
                <key>textureRect</key>
                <string>{{1,322},{464,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_ShopSheet03.png</string>
            <key>size</key>
            <string>{541,541}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0be007e136d0a4a0edb63b1e64c54205:01fdb5a5d75752ee33ebd32fc59623c2:d95c6383bd683c83398f1d61e8c6407b$</string>
            <key>textureFileName</key>
            <string>GJ_ShopSheet03.png</string>
        </dict>
    </dict>
</plist>
