<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shopBG_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1017,524},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1017,561},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{36,18}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1047,286},{36,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{30,7}</string>
                <key>spriteSourceSize</key>
                <string>{30,13}</string>
                <key>textureRect</key>
                <string>{{1066,286},{30,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,8}</string>
                <key>spriteSourceSize</key>
                <string>{31,8}</string>
                <key>textureRect</key>
                <string>{{1062,323},{31,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,33}</string>
                <key>spriteSourceSize</key>
                <string>{47,33}</string>
                <key>textureRect</key>
                <string>{{1022,490},{47,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{183,111}</string>
                <key>spriteSourceSize</key>
                <string>{183,147}</string>
                <key>textureRect</key>
                <string>{{962,1},{183,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,59}</string>
                <key>spriteSourceSize</key>
                <string>{145,59}</string>
                <key>textureRect</key>
                <string>{{962,347},{145,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,50}</string>
                <key>spriteSourceSize</key>
                <string>{134,50}</string>
                <key>textureRect</key>
                <string>{{1022,355},{134,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{134,54}</string>
                <key>textureRect</key>
                <string>{{962,493},{134,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper5_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{962,262},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{1047,262},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{14,10}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{1047,323},{14,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper5_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,76}</string>
                <key>spriteSourceSize</key>
                <string>{109,76}</string>
                <key>textureRect</key>
                <string>{{962,185},{109,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopSign5_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,17}</string>
                <key>spriteSize</key>
                <string>{276,141}</string>
                <key>spriteSourceSize</key>
                <string>{278,175}</string>
                <key>textureRect</key>
                <string>{{929,642},{276,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>storeDesk_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{927,389}</string>
                <key>spriteSourceSize</key>
                <string>{927,389}</string>
                <key>textureRect</key>
                <string>{{1,642},{927,389}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_ShopSheet03-hd.png</string>
            <key>size</key>
            <string>{1074,1074}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0be007e136d0a4a0edb63b1e64c54205:01fdb5a5d75752ee33ebd32fc59623c2:d95c6383bd683c83398f1d61e8c6407b$</string>
            <key>textureFileName</key>
            <string>GJ_ShopSheet03-hd.png</string>
        </dict>
    </dict>
</plist>
