<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shopBG_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16.5,16.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1072,175},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16.5,16.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1072,175},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16.5,16.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1072,175},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13.5,5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{30,13}</string>
                <key>textureRect</key>
                <string>{{1072,175},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{31,8}</string>
                <key>textureRect</key>
                <string>{{1072,175},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,24}</string>
                <key>spriteSourceSize</key>
                <string>{42,24}</string>
                <key>textureRect</key>
                <string>{{1047,175},{42,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper4_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{173,117}</string>
                <key>spriteSourceSize</key>
                <string>{173,157}</string>
                <key>textureRect</key>
                <string>{{962,1},{173,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper4_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,39}</string>
                <key>spriteSourceSize</key>
                <string>{134,39}</string>
                <key>textureRect</key>
                <string>{{1037,260},{134,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper4_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,50}</string>
                <key>spriteSourceSize</key>
                <string>{134,50}</string>
                <key>textureRect</key>
                <string>{{1017,395},{134,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper4_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{134,54}</string>
                <key>textureRect</key>
                <string>{{962,390},{134,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper4_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{962,175},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5.5,5.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{1072,175},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5.5,5.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{1072,175},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper4_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,74}</string>
                <key>spriteSourceSize</key>
                <string>{129,74}</string>
                <key>textureRect</key>
                <string>{{962,260},{129,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopSign4_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,17}</string>
                <key>spriteSize</key>
                <string>{290,141}</string>
                <key>spriteSourceSize</key>
                <string>{298,175}</string>
                <key>textureRect</key>
                <string>{{929,642},{290,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>storeDesk_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{927,389}</string>
                <key>spriteSourceSize</key>
                <string>{927,389}</string>
                <key>textureRect</key>
                <string>{{1,642},{927,389}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_ShopSheet02-hd.png</string>
            <key>size</key>
            <string>{1080,1080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f9dd5668582c521aeb9690c06f4a451:48dedc750173a5e9b542125089fd3371:7d38439e8f4165eb4dfd07955cbb4350$</string>
            <key>textureFileName</key>
            <string>GJ_ShopSheet02-hd.png</string>
        </dict>
    </dict>
</plist>
