<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chest03_small_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{739,205},{61,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,161}</string>
                <key>spriteSourceSize</key>
                <string>{199,161}</string>
                <key>textureRect</key>
                <string>{{1180,282},{199,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_01_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,155}</string>
                <key>spriteSourceSize</key>
                <string>{193,155}</string>
                <key>textureRect</key>
                <string>{{407,1037},{193,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{193,159}</string>
                <key>spriteSourceSize</key>
                <string>{193,161}</string>
                <key>textureRect</key>
                <string>{{213,1033},{193,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{152,14}</string>
                <key>spriteSourceSize</key>
                <string>{152,28}</string>
                <key>textureRect</key>
                <string>{{1362,79},{152,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_01_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{327,69}</string>
                <key>spriteSourceSize</key>
                <string>{327,125}</string>
                <key>textureRect</key>
                <string>{{411,205},{327,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{193,83}</string>
                <key>spriteSourceSize</key>
                <string>{193,153}</string>
                <key>textureRect</key>
                <string>{{883,1060},{193,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,34}</string>
                <key>spriteSize</key>
                <string>{162,96}</string>
                <key>spriteSourceSize</key>
                <string>{162,164}</string>
                <key>textureRect</key>
                <string>{{930,1198},{162,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,32}</string>
                <key>spriteSize</key>
                <string>{148,77}</string>
                <key>spriteSourceSize</key>
                <string>{148,141}</string>
                <key>textureRect</key>
                <string>{{1231,1},{148,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,201}</string>
                <key>spriteSourceSize</key>
                <string>{249,201}</string>
                <key>textureRect</key>
                <string>{{246,323},{249,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_02_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,194}</string>
                <key>spriteSourceSize</key>
                <string>{241,194}</string>
                <key>textureRect</key>
                <string>{{1066,87},{241,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{241,197}</string>
                <key>spriteSourceSize</key>
                <string>{241,201}</string>
                <key>textureRect</key>
                <string>{{463,483},{241,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_02_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{189,31}</string>
                <key>spriteSourceSize</key>
                <string>{189,49}</string>
                <key>textureRect</key>
                <string>{{351,1339},{189,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,36}</string>
                <key>spriteSize</key>
                <string>{409,85}</string>
                <key>spriteSourceSize</key>
                <string>{409,157}</string>
                <key>textureRect</key>
                <string>{{1,237},{409,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{241,103}</string>
                <key>spriteSourceSize</key>
                <string>{241,191}</string>
                <key>textureRect</key>
                <string>{{1,1278},{241,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{202,123}</string>
                <key>spriteSourceSize</key>
                <string>{202,205}</string>
                <key>textureRect</key>
                <string>{{680,950},{202,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{184,94}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1086,1043},{184,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,194}</string>
                <key>spriteSourceSize</key>
                <string>{241,194}</string>
                <key>textureRect</key>
                <string>{{661,483},{241,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_03_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{241,197}</string>
                <key>spriteSourceSize</key>
                <string>{241,201}</string>
                <key>textureRect</key>
                <string>{{696,282},{241,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{189,31}</string>
                <key>spriteSourceSize</key>
                <string>{189,49}</string>
                <key>textureRect</key>
                <string>{{542,1322},{189,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,36}</string>
                <key>spriteSize</key>
                <string>{409,85}</string>
                <key>spriteSourceSize</key>
                <string>{409,157}</string>
                <key>textureRect</key>
                <string>{{1,237},{409,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{241,103}</string>
                <key>spriteSourceSize</key>
                <string>{241,191}</string>
                <key>textureRect</key>
                <string>{{463,725},{241,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{202,123}</string>
                <key>spriteSourceSize</key>
                <string>{202,205}</string>
                <key>textureRect</key>
                <string>{{883,936},{202,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{184,94}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1086,1043},{184,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,194}</string>
                <key>spriteSourceSize</key>
                <string>{241,194}</string>
                <key>textureRect</key>
                <string>{{1098,482},{241,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{241,197}</string>
                <key>spriteSourceSize</key>
                <string>{241,201}</string>
                <key>textureRect</key>
                <string>{{938,282},{241,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{189,31}</string>
                <key>spriteSourceSize</key>
                <string>{189,49}</string>
                <key>textureRect</key>
                <string>{{1342,269},{189,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_04_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,36}</string>
                <key>spriteSize</key>
                <string>{409,85}</string>
                <key>spriteSourceSize</key>
                <string>{409,157}</string>
                <key>textureRect</key>
                <string>{{411,119},{409,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{241,103}</string>
                <key>spriteSourceSize</key>
                <string>{241,191}</string>
                <key>textureRect</key>
                <string>{{856,678},{241,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{202,123}</string>
                <key>spriteSourceSize</key>
                <string>{202,205}</string>
                <key>textureRect</key>
                <string>{{601,1074},{202,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{184,94}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1093,1138},{184,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,194}</string>
                <key>spriteSourceSize</key>
                <string>{244,194}</string>
                <key>textureRect</key>
                <string>{{821,87},{244,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{241,197}</string>
                <key>spriteSourceSize</key>
                <string>{241,201}</string>
                <key>textureRect</key>
                <string>{{856,480},{241,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{189,31}</string>
                <key>spriteSourceSize</key>
                <string>{189,49}</string>
                <key>textureRect</key>
                <string>{{1098,781},{189,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,36}</string>
                <key>spriteSize</key>
                <string>{409,85}</string>
                <key>spriteSourceSize</key>
                <string>{409,157}</string>
                <key>textureRect</key>
                <string>{{821,1},{409,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{241,103}</string>
                <key>spriteSourceSize</key>
                <string>{241,191}</string>
                <key>textureRect</key>
                <string>{{1098,677},{241,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{202,123}</string>
                <key>spriteSourceSize</key>
                <string>{202,205}</string>
                <key>textureRect</key>
                <string>{{542,1198},{202,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{184,94}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1093,1233},{184,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{244,211}</string>
                <key>spriteSourceSize</key>
                <string>{244,227}</string>
                <key>textureRect</key>
                <string>{{1,788},{244,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_06_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{247,207}</string>
                <key>spriteSourceSize</key>
                <string>{247,221}</string>
                <key>textureRect</key>
                <string>{{215,573},{247,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{189,53}</string>
                <key>spriteSourceSize</key>
                <string>{189,55}</string>
                <key>textureRect</key>
                <string>{{1308,79},{189,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_06_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{409,117}</string>
                <key>spriteSourceSize</key>
                <string>{409,157}</string>
                <key>textureRect</key>
                <string>{{1,1},{409,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{241,103}</string>
                <key>spriteSourceSize</key>
                <string>{241,191}</string>
                <key>textureRect</key>
                <string>{{215,781},{241,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,38}</string>
                <key>spriteSize</key>
                <string>{224,147}</string>
                <key>spriteSourceSize</key>
                <string>{224,223}</string>
                <key>textureRect</key>
                <string>{{213,885},{224,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{184,115}</string>
                <key>spriteSourceSize</key>
                <string>{184,169}</string>
                <key>textureRect</key>
                <string>{{1080,813},{184,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{244,211}</string>
                <key>spriteSourceSize</key>
                <string>{244,227}</string>
                <key>textureRect</key>
                <string>{{1,1033},{244,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_07_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{247,207}</string>
                <key>spriteSourceSize</key>
                <string>{247,221}</string>
                <key>textureRect</key>
                <string>{{448,275},{247,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{189,53}</string>
                <key>spriteSourceSize</key>
                <string>{189,55}</string>
                <key>textureRect</key>
                <string>{{881,1144},{189,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{409,117}</string>
                <key>spriteSourceSize</key>
                <string>{409,157}</string>
                <key>textureRect</key>
                <string>{{1,119},{409,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{241,103}</string>
                <key>spriteSourceSize</key>
                <string>{241,191}</string>
                <key>textureRect</key>
                <string>{{457,829},{241,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,37}</string>
                <key>spriteSize</key>
                <string>{224,149}</string>
                <key>spriteSourceSize</key>
                <string>{224,223}</string>
                <key>textureRect</key>
                <string>{{705,725},{224,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_07_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,24}</string>
                <key>spriteSize</key>
                <string>{184,111}</string>
                <key>spriteSourceSize</key>
                <string>{184,159}</string>
                <key>textureRect</key>
                <string>{{745,1198},{184,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{244,216}</string>
                <key>spriteSourceSize</key>
                <string>{244,236}</string>
                <key>textureRect</key>
                <string>{{1,323},{244,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{247,213}</string>
                <key>spriteSourceSize</key>
                <string>{247,231}</string>
                <key>textureRect</key>
                <string>{{1,540},{247,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_08_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{189,53}</string>
                <key>spriteSourceSize</key>
                <string>{189,55}</string>
                <key>textureRect</key>
                <string>{{1065,1328},{189,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{409,117}</string>
                <key>spriteSourceSize</key>
                <string>{409,157}</string>
                <key>textureRect</key>
                <string>{{411,1},{409,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{241,103}</string>
                <key>spriteSourceSize</key>
                <string>{241,191}</string>
                <key>textureRect</key>
                <string>{{438,933},{241,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,35}</string>
                <key>spriteSize</key>
                <string>{224,153}</string>
                <key>spriteSourceSize</key>
                <string>{224,223}</string>
                <key>textureRect</key>
                <string>{{855,782},{224,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{184,113}</string>
                <key>spriteSourceSize</key>
                <string>{184,165}</string>
                <key>textureRect</key>
                <string>{{1086,929},{184,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_glow_bg_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-132,-17}</string>
                <key>spriteSize</key>
                <string>{103,48}</string>
                <key>spriteSourceSize</key>
                <string>{367,82}</string>
                <key>textureRect</key>
                <string>{{1265,813},{103,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_shadow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,36}</string>
                <key>spriteSourceSize</key>
                <string>{239,36}</string>
                <key>textureRect</key>
                <string>{{1340,482},{239,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>getOrbsLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{111,76}</string>
                <key>spriteSourceSize</key>
                <string>{111,82}</string>
                <key>textureRect</key>
                <string>{{804,1074},{111,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gj_videoRewardBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,145}</string>
                <key>spriteSourceSize</key>
                <string>{190,145}</string>
                <key>textureRect</key>
                <string>{{351,1193},{190,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plushies_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{188,107}</string>
                <key>spriteSourceSize</key>
                <string>{196,109}</string>
                <key>textureRect</key>
                <string>{{243,1193},{188,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-49}</string>
                <key>spriteSize</key>
                <string>{94,134}</string>
                <key>spriteSourceSize</key>
                <string>{98,232}</string>
                <key>textureRect</key>
                <string>{{1271,917},{94,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope2_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{411,275},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-49}</string>
                <key>spriteSize</key>
                <string>{86,134}</string>
                <key>spriteSourceSize</key>
                <string>{90,232}</string>
                <key>textureRect</key>
                <string>{{930,1295},{86,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope3_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{213,1193},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope4_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-49}</string>
                <key>spriteSize</key>
                <string>{84,134}</string>
                <key>spriteSourceSize</key>
                <string>{88,232}</string>
                <key>textureRect</key>
                <string>{{1278,1187},{84,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope4_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{601,1037},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope5_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-49}</string>
                <key>spriteSize</key>
                <string>{94,134}</string>
                <key>spriteSourceSize</key>
                <string>{102,232}</string>
                <key>textureRect</key>
                <string>{{1278,1052},{94,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope5_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{1288,781},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_ShopSheet-hd.png</string>
            <key>size</key>
            <string>{1382,1382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1533916f3a9feaa81d42e08a47f3d09:075c08893191acfcd55a23a874e40e47:6b4b2686c87e2a64c351d919627ac8a1$</string>
            <key>textureFileName</key>
            <string>GJ_ShopSheet-hd.png</string>
        </dict>
    </dict>
</plist>
