<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_15_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,30}</string>
                <key>spriteSize</key>
                <string>{270,252}</string>
                <key>spriteSourceSize</key>
                <string>{622,542}</string>
                <key>textureRect</key>
                <string>{{1646,536},{270,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,32}</string>
                <key>spriteSize</key>
                <string>{332,312}</string>
                <key>spriteSourceSize</key>
                <string>{622,542}</string>
                <key>textureRect</key>
                <string>{{1,1544},{332,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,23}</string>
                <key>spriteSize</key>
                <string>{382,366}</string>
                <key>spriteSourceSize</key>
                <string>{622,542}</string>
                <key>textureRect</key>
                <string>{{627,1520},{382,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,15}</string>
                <key>spriteSize</key>
                <string>{424,408}</string>
                <key>spriteSourceSize</key>
                <string>{622,542}</string>
                <key>textureRect</key>
                <string>{{1438,1466},{424,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,10}</string>
                <key>spriteSize</key>
                <string>{460,442}</string>
                <key>spriteSourceSize</key>
                <string>{622,542}</string>
                <key>textureRect</key>
                <string>{{1438,1021},{460,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,5}</string>
                <key>spriteSize</key>
                <string>{494,464}</string>
                <key>spriteSourceSize</key>
                <string>{622,542}</string>
                <key>textureRect</key>
                <string>{{492,1023},{494,464}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,3}</string>
                <key>spriteSize</key>
                <string>{518,488}</string>
                <key>spriteSourceSize</key>
                <string>{622,542}</string>
                <key>textureRect</key>
                <string>{{1,1023},{518,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,2}</string>
                <key>spriteSize</key>
                <string>{532,508}</string>
                <key>spriteSourceSize</key>
                <string>{622,542}</string>
                <key>textureRect</key>
                <string>{{1,512},{532,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,2}</string>
                <key>spriteSize</key>
                <string>{546,526}</string>
                <key>spriteSourceSize</key>
                <string>{622,542}</string>
                <key>textureRect</key>
                <string>{{570,492},{546,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,5}</string>
                <key>spriteSize</key>
                <string>{558,532}</string>
                <key>spriteSourceSize</key>
                <string>{622,542}</string>
                <key>textureRect</key>
                <string>{{1137,1},{558,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,17}</string>
                <key>spriteSize</key>
                <string>{566,508}</string>
                <key>spriteSourceSize</key>
                <string>{622,542}</string>
                <key>textureRect</key>
                <string>{{1,1},{566,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,21}</string>
                <key>spriteSize</key>
                <string>{564,488}</string>
                <key>spriteSourceSize</key>
                <string>{622,542}</string>
                <key>textureRect</key>
                <string>{{570,1},{564,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,19}</string>
                <key>spriteSize</key>
                <string>{524,482}</string>
                <key>spriteSourceSize</key>
                <string>{622,542}</string>
                <key>textureRect</key>
                <string>{{1119,536},{524,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,21}</string>
                <key>spriteSize</key>
                <string>{480,476}</string>
                <key>spriteSourceSize</key>
                <string>{622,542}</string>
                <key>textureRect</key>
                <string>{{959,1021},{480,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,36}</string>
                <key>spriteSize</key>
                <string>{332,308}</string>
                <key>spriteSourceSize</key>
                <string>{622,542}</string>
                <key>textureRect</key>
                <string>{{316,1544},{332,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,36}</string>
                <key>spriteSize</key>
                <string>{320,306}</string>
                <key>spriteSourceSize</key>
                <string>{622,542}</string>
                <key>textureRect</key>
                <string>{{1012,1504},{320,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_15-uhd.png</string>
            <key>size</key>
            <string>{1899,1899}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:555d149983b1ec339cc0f3503df717ec:d9a6da232f6fd1a87039d058a6ee3398:843d43c2be1582e50d58e182b453bdeb$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_15-uhd.png</string>
        </dict>
    </dict>
</plist>
