<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_13_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{256,166}</string>
                <key>spriteSourceSize</key>
                <string>{950,924}</string>
                <key>textureRect</key>
                <string>{{1,2472},{256,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_13_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{482,480}</string>
                <key>spriteSourceSize</key>
                <string>{950,924}</string>
                <key>textureRect</key>
                <string>{{2302,2192},{482,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_13_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{672,670}</string>
                <key>spriteSourceSize</key>
                <string>{950,924}</string>
                <key>textureRect</key>
                <string>{{1627,2192},{672,670}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_13_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,32}</string>
                <key>spriteSize</key>
                <string>{718,790}</string>
                <key>spriteSourceSize</key>
                <string>{950,924}</string>
                <key>textureRect</key>
                <string>{{906,1643},{718,790}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_13_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,39}</string>
                <key>spriteSize</key>
                <string>{756,804}</string>
                <key>spriteSourceSize</key>
                <string>{950,924}</string>
                <key>textureRect</key>
                <string>{{1795,824},{756,804}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_13_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,45}</string>
                <key>spriteSize</key>
                <string>{850,816}</string>
                <key>spriteSourceSize</key>
                <string>{950,924}</string>
                <key>textureRect</key>
                <string>{{942,804},{850,816}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_13_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,47}</string>
                <key>spriteSize</key>
                <string>{874,820}</string>
                <key>spriteSourceSize</key>
                <string>{950,924}</string>
                <key>textureRect</key>
                <string>{{1877,1},{874,820}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_13_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,49}</string>
                <key>spriteSize</key>
                <string>{902,826}</string>
                <key>spriteSourceSize</key>
                <string>{950,924}</string>
                <key>textureRect</key>
                <string>{{1,1643},{902,826}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_13_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,45}</string>
                <key>spriteSize</key>
                <string>{934,816}</string>
                <key>spriteSourceSize</key>
                <string>{950,924}</string>
                <key>textureRect</key>
                <string>{{1,824},{934,816}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_13_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,47}</string>
                <key>spriteSize</key>
                <string>{938,820}</string>
                <key>spriteSourceSize</key>
                <string>{950,924}</string>
                <key>textureRect</key>
                <string>{{1,1},{938,820}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_13_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,37}</string>
                <key>spriteSize</key>
                <string>{932,800}</string>
                <key>spriteSourceSize</key>
                <string>{950,924}</string>
                <key>textureRect</key>
                <string>{{942,1},{932,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_13_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-60}</string>
                <key>spriteSize</key>
                <string>{802,606}</string>
                <key>spriteSourceSize</key>
                <string>{950,924}</string>
                <key>textureRect</key>
                <string>{{1795,1583},{802,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_13-uhd.png</string>
            <key>size</key>
            <string>{2863,2863}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab5c1b6460946a47961872444942317e:f9419796d21b58ad5fc8a7bc721169f4:68a3b99c67eaa0e6c407a2a14b0f2248$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_13-uhd.png</string>
        </dict>
    </dict>
</plist>
