<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{174,150}</string>
                <key>spriteSourceSize</key>
                <string>{306,306}</string>
                <key>textureRect</key>
                <string>{{1,898},{174,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{212,186}</string>
                <key>spriteSourceSize</key>
                <string>{306,306}</string>
                <key>textureRect</key>
                <string>{{854,541},{212,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,12}</string>
                <key>spriteSize</key>
                <string>{242,236}</string>
                <key>spriteSourceSize</key>
                <string>{306,306}</string>
                <key>textureRect</key>
                <string>{{842,296},{242,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_01_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,9}</string>
                <key>spriteSize</key>
                <string>{276,260}</string>
                <key>spriteSourceSize</key>
                <string>{306,306}</string>
                <key>textureRect</key>
                <string>{{591,589},{276,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_01_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{292,278}</string>
                <key>spriteSourceSize</key>
                <string>{306,306}</string>
                <key>textureRect</key>
                <string>{{298,306},{292,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_01_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{306,302}</string>
                <key>spriteSourceSize</key>
                <string>{306,306}</string>
                <key>textureRect</key>
                <string>{{1,1},{306,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{294,292}</string>
                <key>spriteSourceSize</key>
                <string>{306,306}</string>
                <key>textureRect</key>
                <string>{{1,603},{294,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{294,292}</string>
                <key>spriteSourceSize</key>
                <string>{306,306}</string>
                <key>textureRect</key>
                <string>{{605,1},{294,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{294,294}</string>
                <key>spriteSourceSize</key>
                <string>{306,306}</string>
                <key>textureRect</key>
                <string>{{1,306},{294,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{292,296}</string>
                <key>spriteSourceSize</key>
                <string>{306,306}</string>
                <key>textureRect</key>
                <string>{{310,1},{292,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{306,306}</string>
                <key>textureRect</key>
                <string>{{298,601},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{260,286}</string>
                <key>spriteSourceSize</key>
                <string>{306,306}</string>
                <key>textureRect</key>
                <string>{{579,300},{260,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_01-hd.png</string>
            <key>size</key>
            <string>{1079,1079}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:938f36aebad84918155ea1667c06758d:63df9d8d8f7f60baf26e6d421d9eee54:f49b0d1f84fc5c31883720975c7d75ff$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_01-hd.png</string>
        </dict>
    </dict>
</plist>
