<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{252,242}</string>
                <key>spriteSourceSize</key>
                <string>{736,756}</string>
                <key>textureRect</key>
                <string>{{1421,424},{252,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,24}</string>
                <key>spriteSize</key>
                <string>{382,420}</string>
                <key>spriteSourceSize</key>
                <string>{736,756}</string>
                <key>textureRect</key>
                <string>{{1421,1},{382,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,31}</string>
                <key>spriteSize</key>
                <string>{600,586}</string>
                <key>spriteSourceSize</key>
                <string>{736,756}</string>
                <key>textureRect</key>
                <string>{{610,1459},{600,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,7}</string>
                <key>spriteSize</key>
                <string>{674,692}</string>
                <key>spriteSourceSize</key>
                <string>{736,756}</string>
                <key>textureRect</key>
                <string>{{740,734},{674,692}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_04_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{730,678}</string>
                <key>spriteSourceSize</key>
                <string>{736,756}</string>
                <key>textureRect</key>
                <string>{{740,1},{730,678}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_04_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{736,714}</string>
                <key>spriteSourceSize</key>
                <string>{736,756}</string>
                <key>textureRect</key>
                <string>{{1,742},{736,714}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{736,738}</string>
                <key>spriteSourceSize</key>
                <string>{736,756}</string>
                <key>textureRect</key>
                <string>{{1,1},{736,738}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-15}</string>
                <key>spriteSize</key>
                <string>{616,626}</string>
                <key>spriteSourceSize</key>
                <string>{736,756}</string>
                <key>textureRect</key>
                <string>{{1213,1411},{616,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-8}</string>
                <key>spriteSize</key>
                <string>{554,606}</string>
                <key>spriteSourceSize</key>
                <string>{736,756}</string>
                <key>textureRect</key>
                <string>{{1,1459},{554,606}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_04-uhd.png</string>
            <key>size</key>
            <string>{1830,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b0a7db79d35149798c1d45ca7e5c4b4:fb4d1a4a3a12a406581d46c4ae69ef4e:aa98a1d88404498c09dcc4b1e7c816ca$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_04-uhd.png</string>
        </dict>
    </dict>
</plist>
