<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_09_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-2}</string>
                <key>spriteSize</key>
                <string>{802,678}</string>
                <key>spriteSourceSize</key>
                <string>{2000,2000}</string>
                <key>textureRect</key>
                <string>{{2163,1661},{802,678}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_09_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-2}</string>
                <key>spriteSize</key>
                <string>{794,682}</string>
                <key>spriteSourceSize</key>
                <string>{2000,2000}</string>
                <key>textureRect</key>
                <string>{{2163,2342},{794,682}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_09_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{966,730}</string>
                <key>spriteSourceSize</key>
                <string>{2000,2000}</string>
                <key>textureRect</key>
                <string>{{1,2346},{966,730}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_09_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,34}</string>
                <key>spriteSize</key>
                <string>{1102,822}</string>
                <key>spriteSourceSize</key>
                <string>{2000,2000}</string>
                <key>textureRect</key>
                <string>{{1230,738},{1102,822}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_09_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1340,680}</string>
                <key>spriteSourceSize</key>
                <string>{2000,2000}</string>
                <key>textureRect</key>
                <string>{{1,1},{1340,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_09_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-2}</string>
                <key>spriteSize</key>
                <string>{1246,734}</string>
                <key>spriteSourceSize</key>
                <string>{2000,2000}</string>
                <key>textureRect</key>
                <string>{{1344,1},{1246,734}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_09_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{1226,790}</string>
                <key>spriteSourceSize</key>
                <string>{2000,2000}</string>
                <key>textureRect</key>
                <string>{{1,684},{1226,790}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_09_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{1118,866}</string>
                <key>spriteSourceSize</key>
                <string>{2000,2000}</string>
                <key>textureRect</key>
                <string>{{1,1477},{1118,866}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_09_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{1038,872}</string>
                <key>spriteSourceSize</key>
                <string>{2000,2000}</string>
                <key>textureRect</key>
                <string>{{1122,1563},{1038,872}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_09_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{920,738}</string>
                <key>spriteSourceSize</key>
                <string>{2000,2000}</string>
                <key>textureRect</key>
                <string>{{2335,738},{920,738}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_09_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-4}</string>
                <key>spriteSize</key>
                <string>{578,366}</string>
                <key>spriteSourceSize</key>
                <string>{2000,2000}</string>
                <key>textureRect</key>
                <string>{{2593,1},{578,366}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_09_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-10}</string>
                <key>spriteSize</key>
                <string>{388,390}</string>
                <key>spriteSourceSize</key>
                <string>{2000,2000}</string>
                <key>textureRect</key>
                <string>{{970,2438},{388,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_09_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-12}</string>
                <key>spriteSize</key>
                <string>{390,386}</string>
                <key>spriteSourceSize</key>
                <string>{2000,2000}</string>
                <key>textureRect</key>
                <string>{{1361,2438},{390,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_09-uhd.png</string>
            <key>size</key>
            <string>{3077,3077}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ccd13ff2161da27166caacb00bf953e:fb8bb254253504e0d41a4d765f017b7c:fe3801638d7f28d02817ebe6b95fff12$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_09-uhd.png</string>
        </dict>
    </dict>
</plist>
