<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_14_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{492,482}</string>
                <key>spriteSourceSize</key>
                <string>{1178,1212}</string>
                <key>textureRect</key>
                <string>{{2979,2788},{492,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_14_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,13}</string>
                <key>spriteSize</key>
                <string>{580,604}</string>
                <key>spriteSourceSize</key>
                <string>{1178,1212}</string>
                <key>textureRect</key>
                <string>{{1723,2830},{580,604}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_14_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,28}</string>
                <key>spriteSize</key>
                <string>{654,670}</string>
                <key>spriteSourceSize</key>
                <string>{1178,1212}</string>
                <key>textureRect</key>
                <string>{{2306,2818},{654,670}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_14_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,0}</string>
                <key>spriteSize</key>
                <string>{704,600}</string>
                <key>spriteSourceSize</key>
                <string>{1178,1212}</string>
                <key>textureRect</key>
                <string>{{1,2872},{704,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_14_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{602,778}</string>
                <key>spriteSourceSize</key>
                <string>{1178,1212}</string>
                <key>textureRect</key>
                <string>{{942,2830},{602,778}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_14_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-16}</string>
                <key>spriteSize</key>
                <string>{806,922}</string>
                <key>spriteSourceSize</key>
                <string>{1178,1212}</string>
                <key>textureRect</key>
                <string>{{1981,1893},{806,922}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_14_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,10}</string>
                <key>spriteSize</key>
                <string>{892,692}</string>
                <key>spriteSourceSize</key>
                <string>{1178,1212}</string>
                <key>textureRect</key>
                <string>{{2790,1893},{892,692}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_14_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,-66}</string>
                <key>spriteSize</key>
                <string>{880,1036}</string>
                <key>spriteSourceSize</key>
                <string>{1178,1212}</string>
                <key>textureRect</key>
                <string>{{1,1050},{880,1036}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_14_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-83}</string>
                <key>spriteSize</key>
                <string>{1120,1046}</string>
                <key>spriteSourceSize</key>
                <string>{1178,1212}</string>
                <key>textureRect</key>
                <string>{{1,1},{1120,1046}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_14_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-5}</string>
                <key>spriteSize</key>
                <string>{1000,912}</string>
                <key>spriteSourceSize</key>
                <string>{1178,1212}</string>
                <key>textureRect</key>
                <string>{{1124,976},{1000,912}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_14_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-75}</string>
                <key>spriteSize</key>
                <string>{958,1030}</string>
                <key>spriteSourceSize</key>
                <string>{1178,1212}</string>
                <key>textureRect</key>
                <string>{{2185,1},{958,1030}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_14_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-42}</string>
                <key>spriteSize</key>
                <string>{1058,972}</string>
                <key>spriteSourceSize</key>
                <string>{1178,1212}</string>
                <key>textureRect</key>
                <string>{{1124,1},{1058,972}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_14_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-37}</string>
                <key>spriteSize</key>
                <string>{936,938}</string>
                <key>spriteSourceSize</key>
                <string>{1178,1212}</string>
                <key>textureRect</key>
                <string>{{1,1933},{936,938}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_14_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-41}</string>
                <key>spriteSize</key>
                <string>{1032,928}</string>
                <key>spriteSourceSize</key>
                <string>{1178,1212}</string>
                <key>textureRect</key>
                <string>{{2185,962},{1032,928}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_14_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-43}</string>
                <key>spriteSize</key>
                <string>{938,936}</string>
                <key>spriteSourceSize</key>
                <string>{1178,1212}</string>
                <key>textureRect</key>
                <string>{{1040,1891},{938,936}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_14-uhd.png</string>
            <key>size</key>
            <string>{3483,3483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0edb492453c1407c7bc4aec186f2d8ba:c769f508c63ad48c06dcd514f5b14b8e:a925ec7ff832a3de67a3f5cdbc0936b9$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_14-uhd.png</string>
        </dict>
    </dict>
</plist>
