<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_11_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,7}</string>
                <key>spriteSize</key>
                <string>{404,352}</string>
                <key>spriteSourceSize</key>
                <string>{756,718}</string>
                <key>textureRect</key>
                <string>{{1970,1193},{404,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_11_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,6}</string>
                <key>spriteSize</key>
                <string>{494,436}</string>
                <key>spriteSourceSize</key>
                <string>{756,718}</string>
                <key>textureRect</key>
                <string>{{1970,696},{494,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_11_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{546,494}</string>
                <key>spriteSourceSize</key>
                <string>{756,718}</string>
                <key>textureRect</key>
                <string>{{1918,1548},{546,494}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_11_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{606,574}</string>
                <key>spriteSourceSize</key>
                <string>{756,718}</string>
                <key>textureRect</key>
                <string>{{1341,1387},{606,574}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_11_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{688,648}</string>
                <key>spriteSourceSize</key>
                <string>{756,718}</string>
                <key>textureRect</key>
                <string>{{690,1387},{688,648}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_11_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{740,678}</string>
                <key>spriteSourceSize</key>
                <string>{756,718}</string>
                <key>textureRect</key>
                <string>{{1,704},{740,678}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_11_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{734,700}</string>
                <key>spriteSourceSize</key>
                <string>{756,718}</string>
                <key>textureRect</key>
                <string>{{1,1},{734,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_11_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{702,710}</string>
                <key>spriteSourceSize</key>
                <string>{756,718}</string>
                <key>textureRect</key>
                <string>{{738,1},{702,710}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_11_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{692,706}</string>
                <key>spriteSourceSize</key>
                <string>{756,718}</string>
                <key>textureRect</key>
                <string>{{1451,1},{692,706}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_11_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-7}</string>
                <key>spriteSize</key>
                <string>{686,700}</string>
                <key>spriteSourceSize</key>
                <string>{756,718}</string>
                <key>textureRect</key>
                <string>{{1,1447},{686,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_11_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{676,678}</string>
                <key>spriteSourceSize</key>
                <string>{756,718}</string>
                <key>textureRect</key>
                <string>{{682,706},{676,678}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_11_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-6}</string>
                <key>spriteSize</key>
                <string>{606,668}</string>
                <key>spriteSourceSize</key>
                <string>{756,718}</string>
                <key>textureRect</key>
                <string>{{1361,706},{606,668}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_11-uhd.png</string>
            <key>size</key>
            <string>{2413,2413}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a9a43751dbb446e400ec145a0c7b283:4c5832bb7f8ca8efb7173004b65643d4:cb01c2ba3d22f8def99b441ac4c57dbf$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_11-uhd.png</string>
        </dict>
    </dict>
</plist>
