<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{232,176}</string>
                <key>spriteSourceSize</key>
                <string>{320,330}</string>
                <key>textureRect</key>
                <string>{{621,824},{232,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{268,242}</string>
                <key>spriteSourceSize</key>
                <string>{320,330}</string>
                <key>textureRect</key>
                <string>{{623,579},{268,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,8}</string>
                <key>spriteSize</key>
                <string>{274,282}</string>
                <key>spriteSourceSize</key>
                <string>{320,330}</string>
                <key>textureRect</key>
                <string>{{637,302},{274,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_02_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{268,298}</string>
                <key>spriteSourceSize</key>
                <string>{320,330}</string>
                <key>textureRect</key>
                <string>{{320,625},{268,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_02_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{296,298}</string>
                <key>spriteSourceSize</key>
                <string>{320,330}</string>
                <key>textureRect</key>
                <string>{{637,1},{296,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{314,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,330}</string>
                <key>textureRect</key>
                <string>{{320,1},{314,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{316,322}</string>
                <key>spriteSourceSize</key>
                <string>{320,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{316,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{316,322}</string>
                <key>spriteSourceSize</key>
                <string>{320,330}</string>
                <key>textureRect</key>
                <string>{{1,326},{316,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{310,316}</string>
                <key>spriteSourceSize</key>
                <string>{320,330}</string>
                <key>textureRect</key>
                <string>{{1,651},{310,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{300,298}</string>
                <key>spriteSourceSize</key>
                <string>{320,330}</string>
                <key>textureRect</key>
                <string>{{320,324},{300,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_02-hd.png</string>
            <key>size</key>
            <string>{1001,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:447e41946762fa491a61854c1601826a:a3638dff848d1cf25db31f5de1f1086a:558030ad61c8eed318748b0ac4fee899$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_02-hd.png</string>
        </dict>
    </dict>
</plist>
