<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_09_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-1}</string>
                <key>spriteSize</key>
                <string>{402,340}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1553,1},{402,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_09_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-1}</string>
                <key>spriteSize</key>
                <string>{398,342}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1597,543},{398,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_09_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{484,366}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{374,628},{484,366}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_09_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,17}</string>
                <key>spriteSize</key>
                <string>{552,412}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1182,564},{552,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_09_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,342}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{672,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_09_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{624,368}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{346,1},{624,368}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_09_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,396}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{717,1},{612,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_09_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{560,434}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1116,1},{560,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_09_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{520,436}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{743,616},{520,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_09_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{462,370}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,676},{462,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_09_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{290,184}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1597,944},{290,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_09_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-5}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1553,344},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_09_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-6}</string>
                <key>spriteSize</key>
                <string>{196,194}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1752,344},{196,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_09-hd.png</string>
            <key>size</key>
            <string>{1956,1139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e2253043c0c7a30b3576bcfad8ef7cb:214ec008cfd355e27dbfd250182f687e:948f0100673cb268476d9ce43b27d1d8$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_09-hd.png</string>
        </dict>
    </dict>
</plist>
