<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_07_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{111,110}</string>
                <key>spriteSourceSize</key>
                <string>{187,178}</string>
                <key>textureRect</key>
                <string>{{270,420},{111,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_07_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{123,122}</string>
                <key>spriteSourceSize</key>
                <string>{187,178}</string>
                <key>textureRect</key>
                <string>{{145,420},{123,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_07_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{141,138}</string>
                <key>spriteSourceSize</key>
                <string>{187,178}</string>
                <key>textureRect</key>
                <string>{{1,420},{141,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_07_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{155,148}</string>
                <key>spriteSourceSize</key>
                <string>{187,178}</string>
                <key>textureRect</key>
                <string>{{383,337},{155,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_07_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{171,168}</string>
                <key>spriteSourceSize</key>
                <string>{187,178}</string>
                <key>textureRect</key>
                <string>{{367,166},{171,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_07_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{181,176}</string>
                <key>spriteSourceSize</key>
                <string>{187,178}</string>
                <key>textureRect</key>
                <string>{{1,1},{181,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_07_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,174}</string>
                <key>spriteSourceSize</key>
                <string>{187,178}</string>
                <key>textureRect</key>
                <string>{{1,180},{177,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_07_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{181,162}</string>
                <key>spriteSourceSize</key>
                <string>{187,178}</string>
                <key>textureRect</key>
                <string>{{185,1},{181,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_07_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{181,162}</string>
                <key>spriteSourceSize</key>
                <string>{187,178}</string>
                <key>textureRect</key>
                <string>{{369,1},{181,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_07_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{179,160}</string>
                <key>spriteSourceSize</key>
                <string>{187,178}</string>
                <key>textureRect</key>
                <string>{{185,166},{179,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_07_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-13}</string>
                <key>spriteSize</key>
                <string>{169,88}</string>
                <key>spriteSourceSize</key>
                <string>{187,178}</string>
                <key>textureRect</key>
                <string>{{181,329},{169,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_07.png</string>
            <key>size</key>
            <string>{559,559}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db817d35814cb71384c06410284fb498:884458d51ca1e854d0549678a95205fd:4c77d1b79b8d87a6b18a8f8d103c7af2$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_07.png</string>
        </dict>
    </dict>
</plist>
