<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_15_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,8}</string>
                <key>spriteSize</key>
                <string>{69,64}</string>
                <key>spriteSourceSize</key>
                <string>{155,136}</string>
                <key>textureRect</key>
                <string>{{1,430},{69,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,8}</string>
                <key>spriteSize</key>
                <string>{83,78}</string>
                <key>spriteSourceSize</key>
                <string>{155,136}</string>
                <key>textureRect</key>
                <string>{{214,395},{83,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{97,92}</string>
                <key>spriteSourceSize</key>
                <string>{155,136}</string>
                <key>textureRect</key>
                <string>{{383,355},{97,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{107,102}</string>
                <key>spriteSourceSize</key>
                <string>{155,136}</string>
                <key>textureRect</key>
                <string>{{383,250},{107,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{115,112}</string>
                <key>spriteSourceSize</key>
                <string>{155,136}</string>
                <key>textureRect</key>
                <string>{{382,132},{115,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{125,118}</string>
                <key>spriteSourceSize</key>
                <string>{155,136}</string>
                <key>textureRect</key>
                <string>{{132,274},{125,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{129,122}</string>
                <key>spriteSourceSize</key>
                <string>{155,136}</string>
                <key>textureRect</key>
                <string>{{257,136},{129,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{135,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,136}</string>
                <key>textureRect</key>
                <string>{{285,1},{135,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{137,132}</string>
                <key>spriteSourceSize</key>
                <string>{155,136}</string>
                <key>textureRect</key>
                <string>{{145,1},{137,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{141,134}</string>
                <key>spriteSourceSize</key>
                <string>{155,136}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{143,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,136}</string>
                <key>textureRect</key>
                <string>{{1,138},{143,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{143,122}</string>
                <key>spriteSourceSize</key>
                <string>{155,136}</string>
                <key>textureRect</key>
                <string>{{1,284},{143,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{133,122}</string>
                <key>spriteSourceSize</key>
                <string>{155,136}</string>
                <key>textureRect</key>
                <string>{{132,138},{133,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{121,120}</string>
                <key>spriteSourceSize</key>
                <string>{155,136}</string>
                <key>textureRect</key>
                <string>{{260,268},{121,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,9}</string>
                <key>spriteSize</key>
                <string>{85,78}</string>
                <key>spriteSourceSize</key>
                <string>{155,136}</string>
                <key>textureRect</key>
                <string>{{126,395},{85,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{83,78}</string>
                <key>spriteSourceSize</key>
                <string>{155,136}</string>
                <key>textureRect</key>
                <string>{{300,392},{83,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_15.png</string>
            <key>size</key>
            <string>{495,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e182a7ae08c042911c12c4084252ec22:af56e27f9105e119874edfe0f059bc07:44bf96962abfca67c7528b0a0837a5e6$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_15.png</string>
        </dict>
    </dict>
</plist>
