<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_10_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{466,466}</string>
                <key>textureRect</key>
                <string>{{1,1380},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_10_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,388}</string>
                <key>spriteSourceSize</key>
                <string>{466,466}</string>
                <key>textureRect</key>
                <string>{{1282,1286},{388,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_10_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,418}</string>
                <key>spriteSourceSize</key>
                <string>{466,466}</string>
                <key>textureRect</key>
                <string>{{881,865},{418,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_10_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,434}</string>
                <key>spriteSourceSize</key>
                <string>{466,466}</string>
                <key>textureRect</key>
                <string>{{925,1},{434,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_10_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,432}</string>
                <key>spriteSourceSize</key>
                <string>{466,466}</string>
                <key>textureRect</key>
                <string>{{446,935},{432,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_10_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,452}</string>
                <key>spriteSourceSize</key>
                <string>{466,466}</string>
                <key>textureRect</key>
                <string>{{470,1},{452,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_10_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{466,466}</string>
                <key>spriteSourceSize</key>
                <string>{466,466}</string>
                <key>textureRect</key>
                <string>{{1,1},{466,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_10_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,462}</string>
                <key>spriteSourceSize</key>
                <string>{466,466}</string>
                <key>textureRect</key>
                <string>{{1,470},{462,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_10_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,442}</string>
                <key>spriteSourceSize</key>
                <string>{466,466}</string>
                <key>textureRect</key>
                <string>{{1,935},{442,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_10_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,398}</string>
                <key>spriteSourceSize</key>
                <string>{466,466}</string>
                <key>textureRect</key>
                <string>{{881,1286},{398,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_10_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,412}</string>
                <key>spriteSourceSize</key>
                <string>{466,466}</string>
                <key>textureRect</key>
                <string>{{466,470},{412,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_10_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,424}</string>
                <key>spriteSourceSize</key>
                <string>{466,466}</string>
                <key>textureRect</key>
                <string>{{925,438},{424,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_10-uhd.png</string>
            <key>size</key>
            <string>{1685,1685}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae6df6ed8c9c94e95c23e8f3048c4bcf:f3edf0e1c6771ae7183feed40e134e5e:38d2c0905754566f8201f259b27e5d95$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_10-uhd.png</string>
        </dict>
    </dict>
</plist>
