<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{328,316}</string>
                <key>textureRect</key>
                <string>{{182,653},{128,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_03_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{184,178}</string>
                <key>spriteSourceSize</key>
                <string>{328,316}</string>
                <key>textureRect</key>
                <string>{{1,653},{184,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_03_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{236,226}</string>
                <key>spriteSourceSize</key>
                <string>{328,316}</string>
                <key>textureRect</key>
                <string>{{311,645},{236,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_03_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{270,256}</string>
                <key>spriteSourceSize</key>
                <string>{328,316}</string>
                <key>textureRect</key>
                <string>{{621,605},{270,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_03_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{298,278}</string>
                <key>spriteSourceSize</key>
                <string>{328,316}</string>
                <key>textureRect</key>
                <string>{{621,324},{298,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_03_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{320,294}</string>
                <key>spriteSourceSize</key>
                <string>{328,316}</string>
                <key>textureRect</key>
                <string>{{621,1},{320,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_03_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{318,302}</string>
                <key>spriteSourceSize</key>
                <string>{328,316}</string>
                <key>textureRect</key>
                <string>{{316,1},{318,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_03_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{316,310}</string>
                <key>spriteSourceSize</key>
                <string>{328,316}</string>
                <key>textureRect</key>
                <string>{{308,326},{316,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_03_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{322,312}</string>
                <key>spriteSourceSize</key>
                <string>{328,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{322,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_03_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{324,304}</string>
                <key>spriteSourceSize</key>
                <string>{328,316}</string>
                <key>textureRect</key>
                <string>{{1,326},{324,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_03-hd.png</string>
            <key>size</key>
            <string>{920,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fd23722024b01c490a0e3c6946c6b97:78cb85755b935c3c80b8377a2e9f86df:eb241dc25fa6215867d5ad2c929606ed$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_03-hd.png</string>
        </dict>
    </dict>
</plist>
