<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_06_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,78}</string>
                <key>spriteSize</key>
                <string>{130,317}</string>
                <key>spriteSourceSize</key>
                <string>{632,1277}</string>
                <key>textureRect</key>
                <string>{{1680,1834},{130,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_06_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,178}</string>
                <key>spriteSize</key>
                <string>{356,523}</string>
                <key>spriteSourceSize</key>
                <string>{632,1277}</string>
                <key>textureRect</key>
                <string>{{1688,663},{356,523}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,191}</string>
                <key>spriteSize</key>
                <string>{486,585}</string>
                <key>spriteSourceSize</key>
                <string>{632,1277}</string>
                <key>textureRect</key>
                <string>{{1199,663},{486,585}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,200}</string>
                <key>spriteSize</key>
                <string>{554,611}</string>
                <key>spriteSourceSize</key>
                <string>{632,1277}</string>
                <key>textureRect</key>
                <string>{{1123,1329},{554,611}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,211}</string>
                <key>spriteSize</key>
                <string>{578,631}</string>
                <key>spriteSourceSize</key>
                <string>{632,1277}</string>
                <key>textureRect</key>
                <string>{{618,695},{578,631}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,223}</string>
                <key>spriteSize</key>
                <string>{614,645}</string>
                <key>spriteSourceSize</key>
                <string>{632,1277}</string>
                <key>textureRect</key>
                <string>{{1,701},{614,645}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,234}</string>
                <key>spriteSize</key>
                <string>{544,659}</string>
                <key>spriteSourceSize</key>
                <string>{632,1277}</string>
                <key>textureRect</key>
                <string>{{1155,1},{544,659}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,241}</string>
                <key>spriteSize</key>
                <string>{556,669}</string>
                <key>spriteSourceSize</key>
                <string>{632,1277}</string>
                <key>textureRect</key>
                <string>{{564,1349},{556,669}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,250}</string>
                <key>spriteSize</key>
                <string>{560,681}</string>
                <key>spriteSourceSize</key>
                <string>{632,1277}</string>
                <key>textureRect</key>
                <string>{{1,1349},{560,681}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,261}</string>
                <key>spriteSize</key>
                <string>{570,691}</string>
                <key>spriteSourceSize</key>
                <string>{632,1277}</string>
                <key>textureRect</key>
                <string>{{582,1},{570,691}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,275}</string>
                <key>spriteSize</key>
                <string>{578,697}</string>
                <key>spriteSourceSize</key>
                <string>{632,1277}</string>
                <key>textureRect</key>
                <string>{{1,1},{578,697}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,465}</string>
                <key>spriteSize</key>
                <string>{580,339}</string>
                <key>spriteSourceSize</key>
                <string>{632,1277}</string>
                <key>textureRect</key>
                <string>{{1680,1251},{580,339}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_06_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,608}</string>
                <key>spriteSize</key>
                <string>{74,61}</string>
                <key>spriteSourceSize</key>
                <string>{632,1277}</string>
                <key>textureRect</key>
                <string>{{1123,1943},{74,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_06-uhd.png</string>
            <key>size</key>
            <string>{2045,2031}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74ce45bf3fe7e34bb7b2ef6748aa33cf:593c868f0d04d20a9667d537e55c4db5:9939a5c2730c369ad70b50cc0aad0d54$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_06-uhd.png</string>
        </dict>
    </dict>
</plist>
