<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_19_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,10}</string>
                <key>spriteSize</key>
                <string>{434,380}</string>
                <key>spriteSourceSize</key>
                <string>{618,590}</string>
                <key>textureRect</key>
                <string>{{538,1105},{434,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_19_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{616,584}</string>
                <key>spriteSourceSize</key>
                <string>{618,590}</string>
                <key>textureRect</key>
                <string>{{620,1},{616,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,572}</string>
                <key>spriteSourceSize</key>
                <string>{618,590}</string>
                <key>textureRect</key>
                <string>{{1239,1},{600,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{616,590}</string>
                <key>spriteSourceSize</key>
                <string>{618,590}</string>
                <key>textureRect</key>
                <string>{{1,1},{616,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{588,526}</string>
                <key>spriteSourceSize</key>
                <string>{618,590}</string>
                <key>textureRect</key>
                <string>{{1239,576},{588,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{554,510}</string>
                <key>spriteSourceSize</key>
                <string>{618,590}</string>
                <key>textureRect</key>
                <string>{{620,588},{554,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{524,464}</string>
                <key>spriteSourceSize</key>
                <string>{618,590}</string>
                <key>textureRect</key>
                <string>{{1,1546},{524,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{534,482}</string>
                <key>spriteSourceSize</key>
                <string>{618,590}</string>
                <key>textureRect</key>
                <string>{{1,1061},{534,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{536,464}</string>
                <key>spriteSourceSize</key>
                <string>{618,590}</string>
                <key>textureRect</key>
                <string>{{1,594},{536,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{482,454}</string>
                <key>spriteSourceSize</key>
                <string>{618,590}</string>
                <key>textureRect</key>
                <string>{{528,1546},{482,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{512,480}</string>
                <key>spriteSourceSize</key>
                <string>{618,590}</string>
                <key>textureRect</key>
                <string>{{1013,1105},{512,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_19_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{498,488}</string>
                <key>spriteSourceSize</key>
                <string>{618,590}</string>
                <key>textureRect</key>
                <string>{{1496,1105},{498,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{212,112}</string>
                <key>spriteSourceSize</key>
                <string>{618,590}</string>
                <key>textureRect</key>
                <string>{{1842,1},{212,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_19-uhd.png</string>
            <key>size</key>
            <string>{2011,2011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:945c12a19c985aebf9e649015ba88c4c:90025bfe7cd521e9290aaa6dd48e33be:20c661aa44269a9a3a58c7a074f9861f$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_19-uhd.png</string>
        </dict>
    </dict>
</plist>
