<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{254,250}</string>
                <key>spriteSourceSize</key>
                <string>{648,632}</string>
                <key>textureRect</key>
                <string>{{827,1251},{254,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_03_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{364,352}</string>
                <key>spriteSourceSize</key>
                <string>{648,632}</string>
                <key>textureRect</key>
                <string>{{472,1279},{364,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_03_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{468,448}</string>
                <key>spriteSourceSize</key>
                <string>{648,632}</string>
                <key>textureRect</key>
                <string>{{1,1279},{468,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_03_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-20}</string>
                <key>spriteSize</key>
                <string>{536,510}</string>
                <key>spriteSourceSize</key>
                <string>{648,632}</string>
                <key>textureRect</key>
                <string>{{1267,1193},{536,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_03_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{592,552}</string>
                <key>spriteSourceSize</key>
                <string>{648,632}</string>
                <key>textureRect</key>
                <string>{{1267,638},{592,552}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_03_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{634,588}</string>
                <key>spriteSourceSize</key>
                <string>{648,632}</string>
                <key>textureRect</key>
                <string>{{1231,1},{634,588}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_03_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{632,604}</string>
                <key>spriteSourceSize</key>
                <string>{648,632}</string>
                <key>textureRect</key>
                <string>{{624,1},{632,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_03_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{632,616}</string>
                <key>spriteSourceSize</key>
                <string>{648,632}</string>
                <key>textureRect</key>
                <string>{{1,644},{632,616}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_03_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{640,620}</string>
                <key>spriteSourceSize</key>
                <string>{648,632}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,620}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_03_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-13}</string>
                <key>spriteSize</key>
                <string>{644,604}</string>
                <key>spriteSourceSize</key>
                <string>{648,632}</string>
                <key>textureRect</key>
                <string>{{620,644},{644,604}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_03-uhd.png</string>
            <key>size</key>
            <string>{1860,1728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e781f7f503794c6f649578ca52f6e63:d38bc5465e9f5fd3bc342f3da2f5b557:93ca196a74134b5fab6fa2a27c9bca43$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_03-uhd.png</string>
        </dict>
    </dict>
</plist>
