<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{94,333},{66,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_03_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{1,333},{94,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_03_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{161,327},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_03_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{136,130}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{311,307},{136,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_03_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{311,164},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_03_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{160,148}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{160,164},{160,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_03_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{160,152}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{315,1},{160,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_03_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{160,156}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{156,1},{160,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_03_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{162,156}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{1,168},{162,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_03_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{164,152}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_03.png</string>
            <key>size</key>
            <string>{468,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fd23722024b01c490a0e3c6946c6b97:78cb85755b935c3c80b8377a2e9f86df:eb241dc25fa6215867d5ad2c929606ed$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_03.png</string>
        </dict>
    </dict>
</plist>
