<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_16_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{258,256}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{1463,1340},{258,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{352,350}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{707,1370},{352,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_16_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{428,424}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{1344,909},{428,424}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_16_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{460,458}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{1,1},{460,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{460,458}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{1,462},{460,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{460,458}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{464,1},{460,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{460,458}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{1,923},{460,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{460,458}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{464,462},{460,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{460,458}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{927,1},{460,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{446,444}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{464,923},{446,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{446,444}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{927,462},{446,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{428,430}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{913,923},{428,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,7}</string>
                <key>spriteSize</key>
                <string>{400,402}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{1060,1356},{400,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{352,380}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{1390,1},{352,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{354,382}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{1,1384},{354,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{346,378}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{358,1384},{346,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,65}</string>
                <key>spriteSize</key>
                <string>{236,234}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{1390,384},{236,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,67}</string>
                <key>spriteSize</key>
                <string>{228,232}</string>
                <key>spriteSourceSize</key>
                <string>{468,474}</string>
                <key>textureRect</key>
                <string>{{1376,621},{228,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_16-hd.png</string>
            <key>size</key>
            <string>{1769,1769}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e106eb65d9bb65714af215a853fca25d:a7390fe0bf071f044c108e4e4b75f0ed:816c0e802aaa2c8b2720c16ce17bc010$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_16-hd.png</string>
        </dict>
    </dict>
</plist>
