<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{42,45}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{1,489},{42,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{375,344},{62,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{108,109}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{1,377},{108,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{156,155}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{375,186},{156,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{184,183}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{188,1},{184,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{184,185}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{184,183}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{188,187},{184,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{184,183}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{188,373},{184,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{182,181}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{375,1},{182,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_05_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{184,185}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{1,189},{184,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_05.png</string>
            <key>size</key>
            <string>{557,557}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd6e2f7414d7f02be0b2a7eb0d30c87c:d4ef30d8f81f90257582187625ec8344:67ce5164622c9774868e186d07387f4b$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_05.png</string>
        </dict>
    </dict>
</plist>
