<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_18_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{142,139}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{503,1171},{142,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,13}</string>
                <key>spriteSize</key>
                <string>{228,239}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{1057,1110},{228,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,23}</string>
                <key>spriteSize</key>
                <string>{300,291}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{641,607},{300,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,19}</string>
                <key>spriteSize</key>
                <string>{308,305}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{1,315},{308,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,17}</string>
                <key>spriteSize</key>
                <string>{316,309}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{966,311},{316,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,18}</string>
                <key>spriteSize</key>
                <string>{320,311}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,21}</string>
                <key>spriteSize</key>
                <string>{318,309}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{324,1},{318,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,21}</string>
                <key>spriteSize</key>
                <string>{318,309}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{645,1},{318,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,20}</string>
                <key>spriteSize</key>
                <string>{318,307}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{966,1},{318,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{314,295}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{324,313},{314,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{306,291}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{641,313},{306,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,6}</string>
                <key>spriteSize</key>
                <string>{298,285}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{312,611},{298,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{292,279}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{1,623},{292,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,11}</string>
                <key>spriteSize</key>
                <string>{274,269}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{296,899},{274,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,11}</string>
                <key>spriteSize</key>
                <string>{270,271}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{1,905},{270,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,25}</string>
                <key>spriteSize</key>
                <string>{254,241}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{573,901},{254,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,27}</string>
                <key>spriteSize</key>
                <string>{254,237}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{817,901},{254,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,27}</string>
                <key>spriteSize</key>
                <string>{252,233}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{944,623},{252,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,27}</string>
                <key>spriteSize</key>
                <string>{252,229}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{1057,878},{252,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,28}</string>
                <key>spriteSize</key>
                <string>{246,227}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{645,1158},{246,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,0}</string>
                <key>spriteSize</key>
                <string>{174,169}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{1,1178},{174,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-1}</string>
                <key>spriteSize</key>
                <string>{166,165}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{173,1178},{166,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-3}</string>
                <key>spriteSize</key>
                <string>{166,159}</string>
                <key>spriteSourceSize</key>
                <string>{334,351}</string>
                <key>textureRect</key>
                <string>{{341,1171},{166,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_18-hd.png</string>
            <key>size</key>
            <string>{1386,1386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17f4e226a32bdc1188d951b394569978:5b9e3655deab1560a47faadd985ab605:a01881e6ea3d4492e975832fea4b1ab4$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_18-hd.png</string>
        </dict>
    </dict>
</plist>
