<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_18_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{71,70}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{622,289},{71,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{115,120}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{455,432},{115,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,11}</string>
                <key>spriteSize</key>
                <string>{151,146}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{327,158},{151,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{155,154}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{327,1},{155,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,9}</string>
                <key>spriteSize</key>
                <string>{159,156}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{165,1},{159,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{161,156}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{1,1},{161,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{161,156}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{1,160},{161,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{161,154}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{1,319},{161,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{159,154}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{165,160},{159,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{157,150}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{1,476},{157,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{155,146}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{165,317},{155,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{151,144}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{485,1},{151,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{147,140}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{165,466},{147,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{139,138}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{485,148},{139,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{137,138}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{481,289},{137,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,13}</string>
                <key>spriteSize</key>
                <string>{129,122}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{327,307},{129,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,13}</string>
                <key>spriteSize</key>
                <string>{129,120}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{323,432},{129,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,13}</string>
                <key>spriteSize</key>
                <string>{127,118}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{333,555},{127,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,14}</string>
                <key>spriteSize</key>
                <string>{127,118}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{454,555},{127,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,14}</string>
                <key>spriteSize</key>
                <string>{123,116}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{573,429},{123,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{89,86}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{575,555},{89,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-1}</string>
                <key>spriteSize</key>
                <string>{85,84}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{161,609},{85,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-1}</string>
                <key>spriteSize</key>
                <string>{85,82}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{248,609},{85,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_18.png</string>
            <key>size</key>
            <string>{695,695}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17f4e226a32bdc1188d951b394569978:5b9e3655deab1560a47faadd985ab605:a01881e6ea3d4492e975832fea4b1ab4$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_18.png</string>
        </dict>
    </dict>
</plist>
