<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_15_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,15}</string>
                <key>spriteSize</key>
                <string>{136,126}</string>
                <key>spriteSourceSize</key>
                <string>{310,272}</string>
                <key>textureRect</key>
                <string>{{1,842},{136,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,16}</string>
                <key>spriteSize</key>
                <string>{166,156}</string>
                <key>spriteSourceSize</key>
                <string>{310,272}</string>
                <key>textureRect</key>
                <string>{{419,772},{166,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{192,184}</string>
                <key>spriteSourceSize</key>
                <string>{310,272}</string>
                <key>textureRect</key>
                <string>{{750,698},{192,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{212,204}</string>
                <key>spriteSourceSize</key>
                <string>{310,272}</string>
                <key>textureRect</key>
                <string>{{750,491},{212,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{230,220}</string>
                <key>spriteSourceSize</key>
                <string>{310,272}</string>
                <key>textureRect</key>
                <string>{{750,258},{230,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,3}</string>
                <key>spriteSize</key>
                <string>{248,234}</string>
                <key>spriteSourceSize</key>
                <string>{310,272}</string>
                <key>textureRect</key>
                <string>{{258,535},{248,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{258,244}</string>
                <key>spriteSourceSize</key>
                <string>{310,272}</string>
                <key>textureRect</key>
                <string>{{503,266},{258,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,1}</string>
                <key>spriteSize</key>
                <string>{266,254}</string>
                <key>spriteSourceSize</key>
                <string>{310,272}</string>
                <key>textureRect</key>
                <string>{{559,1},{266,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,1}</string>
                <key>spriteSize</key>
                <string>{272,262}</string>
                <key>spriteSourceSize</key>
                <string>{310,272}</string>
                <key>textureRect</key>
                <string>{{284,1},{272,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,3}</string>
                <key>spriteSize</key>
                <string>{280,266}</string>
                <key>spriteSourceSize</key>
                <string>{310,272}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,9}</string>
                <key>spriteSize</key>
                <string>{284,254}</string>
                <key>spriteSourceSize</key>
                <string>{310,272}</string>
                <key>textureRect</key>
                <string>{{1,270},{284,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,10}</string>
                <key>spriteSize</key>
                <string>{282,244}</string>
                <key>spriteSourceSize</key>
                <string>{310,272}</string>
                <key>textureRect</key>
                <string>{{1,557},{282,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{262,242}</string>
                <key>spriteSourceSize</key>
                <string>{310,272}</string>
                <key>textureRect</key>
                <string>{{258,270},{262,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,10}</string>
                <key>spriteSize</key>
                <string>{240,238}</string>
                <key>spriteSourceSize</key>
                <string>{310,272}</string>
                <key>textureRect</key>
                <string>{{509,527},{240,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_15_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,18}</string>
                <key>spriteSize</key>
                <string>{168,156}</string>
                <key>spriteSourceSize</key>
                <string>{310,272}</string>
                <key>textureRect</key>
                <string>{{248,772},{168,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_15_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,18}</string>
                <key>spriteSize</key>
                <string>{162,156}</string>
                <key>spriteSourceSize</key>
                <string>{310,272}</string>
                <key>textureRect</key>
                <string>{{588,770},{162,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_15-hd.png</string>
            <key>size</key>
            <string>{971,971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e182a7ae08c042911c12c4084252ec22:af56e27f9105e119874edfe0f059bc07:44bf96962abfca67c7528b0a0837a5e6$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_15-hd.png</string>
        </dict>
    </dict>
</plist>
