<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_11_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,4}</string>
                <key>spriteSize</key>
                <string>{202,178}</string>
                <key>spriteSourceSize</key>
                <string>{378,366}</string>
                <key>textureRect</key>
                <string>{{1022,671},{202,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_11_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{248,218}</string>
                <key>spriteSourceSize</key>
                <string>{378,366}</string>
                <key>textureRect</key>
                <string>{{1006,978},{248,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_11_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{272,248}</string>
                <key>spriteSourceSize</key>
                <string>{378,366}</string>
                <key>textureRect</key>
                <string>{{731,978},{272,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_11_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{304,288}</string>
                <key>spriteSourceSize</key>
                <string>{378,366}</string>
                <key>textureRect</key>
                <string>{{731,671},{304,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_11_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{346,324}</string>
                <key>spriteSourceSize</key>
                <string>{378,366}</string>
                <key>textureRect</key>
                <string>{{727,344},{346,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_11_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{370,340}</string>
                <key>spriteSourceSize</key>
                <string>{378,366}</string>
                <key>textureRect</key>
                <string>{{360,1},{370,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_11_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{372,352}</string>
                <key>spriteSourceSize</key>
                <string>{378,366}</string>
                <key>textureRect</key>
                <string>{{1,366},{372,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_11_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{356,362}</string>
                <key>spriteSourceSize</key>
                <string>{378,366}</string>
                <key>textureRect</key>
                <string>{{1,1},{356,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_11_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{348,358}</string>
                <key>spriteSourceSize</key>
                <string>{378,366}</string>
                <key>textureRect</key>
                <string>{{376,344},{348,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_11_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{344,352}</string>
                <key>spriteSourceSize</key>
                <string>{378,366}</string>
                <key>textureRect</key>
                <string>{{376,705},{344,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_11_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{338,340}</string>
                <key>spriteSourceSize</key>
                <string>{378,366}</string>
                <key>textureRect</key>
                <string>{{733,1},{338,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_11_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-3}</string>
                <key>spriteSize</key>
                <string>{304,336}</string>
                <key>spriteSourceSize</key>
                <string>{378,366}</string>
                <key>textureRect</key>
                <string>{{1,721},{304,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_11-hd.png</string>
            <key>size</key>
            <string>{1227,1227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:772aea02ea19d70518801beaac3a0104:2d6ea0078e6a01e12763740824bb26cb:44f2f3e6b7fd311c2a3bf215a37a20fb$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_11-hd.png</string>
        </dict>
    </dict>
</plist>
