<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{102,373},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{98,107}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{1,373},{98,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{152,149}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{350,353},{152,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_04_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{170,175}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{188,175},{170,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{184,171}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{188,1},{184,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,181}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{1,189},{184,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{184,185}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{154,159}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{188,353},{154,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_04_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{140,153}</string>
                <key>spriteSourceSize</key>
                <string>{184,189}</string>
                <key>textureRect</key>
                <string>{{361,175},{140,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_04.png</string>
            <key>size</key>
            <string>{508,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49606f9640e3c6a7784a4cffc7dfc288:d9bc392d373fd29498090ff8a514f942:d5da02ea408bd0ce71924d70f32146a2$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_04.png</string>
        </dict>
    </dict>
</plist>
