<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_17_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{106,103}</string>
                <key>spriteSourceSize</key>
                <string>{510,443}</string>
                <key>textureRect</key>
                <string>{{1030,1},{106,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{186,197}</string>
                <key>spriteSourceSize</key>
                <string>{510,443}</string>
                <key>textureRect</key>
                <string>{{547,995},{186,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{220,183}</string>
                <key>spriteSourceSize</key>
                <string>{510,443}</string>
                <key>textureRect</key>
                <string>{{324,995},{220,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{252,259}</string>
                <key>spriteSourceSize</key>
                <string>{510,443}</string>
                <key>textureRect</key>
                <string>{{931,939},{252,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_17_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{276,305}</string>
                <key>spriteSourceSize</key>
                <string>{510,443}</string>
                <key>textureRect</key>
                <string>{{652,674},{276,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{270,267}</string>
                <key>spriteSourceSize</key>
                <string>{510,443}</string>
                <key>textureRect</key>
                <string>{{931,666},{270,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_17_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{296,321}</string>
                <key>spriteSourceSize</key>
                <string>{510,443}</string>
                <key>textureRect</key>
                <string>{{348,375},{296,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_17_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{320,347}</string>
                <key>spriteSourceSize</key>
                <string>{510,443}</string>
                <key>textureRect</key>
                <string>{{1,757},{320,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,287}</string>
                <key>spriteSourceSize</key>
                <string>{510,443}</string>
                <key>textureRect</key>
                <string>{{672,375},{288,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_17_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{328,355}</string>
                <key>spriteSourceSize</key>
                <string>{510,443}</string>
                <key>textureRect</key>
                <string>{{699,1},{328,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{326,359}</string>
                <key>spriteSourceSize</key>
                <string>{510,443}</string>
                <key>textureRect</key>
                <string>{{1,395},{326,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,319}</string>
                <key>spriteSourceSize</key>
                <string>{510,443}</string>
                <key>textureRect</key>
                <string>{{330,674},{318,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_17_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{348,371}</string>
                <key>spriteSourceSize</key>
                <string>{510,443}</string>
                <key>textureRect</key>
                <string>{{348,1},{348,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-253.5,220}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{510,443}</string>
                <key>textureRect</key>
                <string>{{324,757},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-12}</string>
                <key>spriteSize</key>
                <string>{344,391}</string>
                <key>spriteSourceSize</key>
                <string>{510,443}</string>
                <key>textureRect</key>
                <string>{{1,1},{344,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_17-hd.png</string>
            <key>size</key>
            <string>{1199,1199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e075451a1c105b841057767cc4aa177c:922cfdeccb17c2a63c996c6b2fa49e47:708208635c249b898992c79604481e70$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_17-hd.png</string>
        </dict>
    </dict>
</plist>
