<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_13_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{130,85}</string>
                <key>spriteSourceSize</key>
                <string>{476,461}</string>
                <key>textureRect</key>
                <string>{{1,1243},{130,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_13_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{242,241}</string>
                <key>spriteSourceSize</key>
                <string>{476,461}</string>
                <key>textureRect</key>
                <string>{{1159,1106},{242,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_13_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{336,337}</string>
                <key>spriteSourceSize</key>
                <string>{476,461}</string>
                <key>textureRect</key>
                <string>{{819,1106},{336,337}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_13_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{360,397}</string>
                <key>spriteSourceSize</key>
                <string>{476,461}</string>
                <key>textureRect</key>
                <string>{{456,827},{360,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_13_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,19}</string>
                <key>spriteSize</key>
                <string>{380,403}</string>
                <key>spriteSourceSize</key>
                <string>{476,461}</string>
                <key>textureRect</key>
                <string>{{903,415},{380,403}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_13_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,22}</string>
                <key>spriteSize</key>
                <string>{426,409}</string>
                <key>spriteSourceSize</key>
                <string>{476,461}</string>
                <key>textureRect</key>
                <string>{{474,405},{426,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_13_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,23}</string>
                <key>spriteSize</key>
                <string>{438,411}</string>
                <key>spriteSourceSize</key>
                <string>{476,461}</string>
                <key>textureRect</key>
                <string>{{943,1},{438,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_13_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,24}</string>
                <key>spriteSize</key>
                <string>{452,413}</string>
                <key>spriteSourceSize</key>
                <string>{476,461}</string>
                <key>textureRect</key>
                <string>{{1,827},{452,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_13_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,22}</string>
                <key>spriteSize</key>
                <string>{466,409}</string>
                <key>spriteSourceSize</key>
                <string>{476,461}</string>
                <key>textureRect</key>
                <string>{{1,415},{466,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_13_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,23}</string>
                <key>spriteSize</key>
                <string>{470,411}</string>
                <key>spriteSourceSize</key>
                <string>{476,461}</string>
                <key>textureRect</key>
                <string>{{1,1},{470,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_13_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,18}</string>
                <key>spriteSize</key>
                <string>{466,401}</string>
                <key>spriteSourceSize</key>
                <string>{476,461}</string>
                <key>textureRect</key>
                <string>{{474,1},{466,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_13_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-30}</string>
                <key>spriteSize</key>
                <string>{402,305}</string>
                <key>spriteSourceSize</key>
                <string>{476,461}</string>
                <key>textureRect</key>
                <string>{{903,798},{402,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_13-hd.png</string>
            <key>size</key>
            <string>{1443,1443}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32c0a6826783720b7863c7cc04d0d067:a44a0d4bfc5cdb7781755caea34e1e2d:347872ebc5dd7d508cceb333f23ff04e$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_13-hd.png</string>
        </dict>
    </dict>
</plist>
