<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_19_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,5}</string>
                <key>spriteSize</key>
                <string>{217,191}</string>
                <key>spriteSourceSize</key>
                <string>{309,295}</string>
                <key>textureRect</key>
                <string>{{273,559},{217,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_19_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,293}</string>
                <key>spriteSourceSize</key>
                <string>{309,295}</string>
                <key>textureRect</key>
                <string>{{313,1},{309,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,287}</string>
                <key>spriteSourceSize</key>
                <string>{309,295}</string>
                <key>textureRect</key>
                <string>{{625,1},{301,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,295}</string>
                <key>spriteSourceSize</key>
                <string>{309,295}</string>
                <key>textureRect</key>
                <string>{{1,1},{309,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{297,265}</string>
                <key>spriteSourceSize</key>
                <string>{309,295}</string>
                <key>textureRect</key>
                <string>{{625,291},{297,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{279,257}</string>
                <key>spriteSourceSize</key>
                <string>{309,295}</string>
                <key>textureRect</key>
                <string>{{313,297},{279,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{263,235}</string>
                <key>spriteSourceSize</key>
                <string>{309,295}</string>
                <key>textureRect</key>
                <string>{{1,783},{263,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{269,243}</string>
                <key>spriteSourceSize</key>
                <string>{309,295}</string>
                <key>textureRect</key>
                <string>{{1,299},{269,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{269,235}</string>
                <key>spriteSourceSize</key>
                <string>{309,295}</string>
                <key>textureRect</key>
                <string>{{1,545},{269,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{243,229}</string>
                <key>spriteSourceSize</key>
                <string>{309,295}</string>
                <key>textureRect</key>
                <string>{{267,783},{243,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{257,243}</string>
                <key>spriteSourceSize</key>
                <string>{309,295}</string>
                <key>textureRect</key>
                <string>{{513,559},{257,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_19_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{251,247}</string>
                <key>spriteSourceSize</key>
                <string>{309,295}</string>
                <key>textureRect</key>
                <string>{{759,559},{251,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{107,57}</string>
                <key>spriteSourceSize</key>
                <string>{309,295}</string>
                <key>textureRect</key>
                <string>{{929,1},{107,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_19-hd.png</string>
            <key>size</key>
            <string>{1019,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:945c12a19c985aebf9e649015ba88c4c:90025bfe7cd521e9290aaa6dd48e33be:20c661aa44269a9a3a58c7a074f9861f$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_19-hd.png</string>
        </dict>
    </dict>
</plist>
