<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_16_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{130,129}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{744,676},{130,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{178,175}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{361,691},{178,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_16_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{214,213}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{679,459},{214,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_16_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{230,229}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{230,229}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{1,233},{230,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{230,229}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{234,1},{230,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{230,229}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{1,465},{230,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{230,229}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{234,233},{230,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{230,229}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{467,1},{230,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{224,223}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{234,465},{224,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{224,223}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{467,233},{224,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{216,215}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{461,465},{216,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_16_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{202,203}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{539,684},{202,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{178,193}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{1,697},{178,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{178,193}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{700,1},{178,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{176,191}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{182,697},{176,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,33}</string>
                <key>spriteSize</key>
                <string>{120,119}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{700,197},{120,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,34}</string>
                <key>spriteSize</key>
                <string>{116,117}</string>
                <key>spriteSourceSize</key>
                <string>{234,237}</string>
                <key>textureRect</key>
                <string>{{694,319},{116,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_16.png</string>
            <key>size</key>
            <string>{893,893}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e106eb65d9bb65714af215a853fca25d:a7390fe0bf071f044c108e4e4b75f0ed:816c0e802aaa2c8b2720c16ce17bc010$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_16.png</string>
        </dict>
    </dict>
</plist>
