<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{462,350}</string>
                <key>spriteSourceSize</key>
                <string>{640,660}</string>
                <key>textureRect</key>
                <string>{{1251,1650},{462,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{538,482}</string>
                <key>spriteSourceSize</key>
                <string>{640,660}</string>
                <key>textureRect</key>
                <string>{{1251,1165},{538,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,17}</string>
                <key>spriteSize</key>
                <string>{548,564}</string>
                <key>spriteSourceSize</key>
                <string>{640,660}</string>
                <key>textureRect</key>
                <string>{{1229,598},{548,564}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{532,596}</string>
                <key>spriteSourceSize</key>
                <string>{640,660}</string>
                <key>textureRect</key>
                <string>{{636,1},{532,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{588,594}</string>
                <key>spriteSourceSize</key>
                <string>{640,660}</string>
                <key>textureRect</key>
                <string>{{1171,1},{588,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-7}</string>
                <key>spriteSize</key>
                <string>{626,636}</string>
                <key>spriteSourceSize</key>
                <string>{640,660}</string>
                <key>textureRect</key>
                <string>{{1,1291},{626,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-9}</string>
                <key>spriteSize</key>
                <string>{630,642}</string>
                <key>spriteSourceSize</key>
                <string>{640,660}</string>
                <key>textureRect</key>
                <string>{{1,646},{630,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{632,642}</string>
                <key>spriteSourceSize</key>
                <string>{640,660}</string>
                <key>textureRect</key>
                <string>{{1,1},{632,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-6}</string>
                <key>spriteSize</key>
                <string>{618,630}</string>
                <key>spriteSourceSize</key>
                <string>{640,660}</string>
                <key>textureRect</key>
                <string>{{630,1291},{618,630}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-4}</string>
                <key>spriteSize</key>
                <string>{600,592}</string>
                <key>spriteSourceSize</key>
                <string>{640,660}</string>
                <key>textureRect</key>
                <string>{{634,646},{600,592}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_02-uhd.png</string>
            <key>size</key>
            <string>{1790,2001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a2a6094198ba3bcd62776d5e3df3d37:3bca87fd08b46d47147849b5a151e9e8:fa4e3c82d70b3a25876b59d7652a1edb$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_02-uhd.png</string>
        </dict>
    </dict>
</plist>
