<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_17_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{210,206}</string>
                <key>spriteSourceSize</key>
                <string>{1020,886}</string>
                <key>textureRect</key>
                <string>{{1928,739},{210,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{368,392}</string>
                <key>spriteSourceSize</key>
                <string>{1020,886}</string>
                <key>textureRect</key>
                <string>{{1928,368},{368,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_17_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{438,364}</string>
                <key>spriteSourceSize</key>
                <string>{1020,886}</string>
                <key>textureRect</key>
                <string>{{1928,1},{438,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,7}</string>
                <key>spriteSize</key>
                <string>{502,514}</string>
                <key>spriteSourceSize</key>
                <string>{1020,886}</string>
                <key>textureRect</key>
                <string>{{1848,1892},{502,514}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_17_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,11}</string>
                <key>spriteSize</key>
                <string>{548,606}</string>
                <key>spriteSourceSize</key>
                <string>{1020,886}</string>
                <key>textureRect</key>
                <string>{{1297,1355},{548,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{538,534}</string>
                <key>spriteSourceSize</key>
                <string>{1020,886}</string>
                <key>textureRect</key>
                <string>{{1848,1355},{538,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,5}</string>
                <key>spriteSize</key>
                <string>{588,638}</string>
                <key>spriteSourceSize</key>
                <string>{1020,886}</string>
                <key>textureRect</key>
                <string>{{698,716},{588,638}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,2}</string>
                <key>spriteSize</key>
                <string>{636,690}</string>
                <key>spriteSourceSize</key>
                <string>{1020,886}</string>
                <key>textureRect</key>
                <string>{{658,1525},{636,690}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{574,572}</string>
                <key>spriteSourceSize</key>
                <string>{1020,886}</string>
                <key>textureRect</key>
                <string>{{1343,1},{574,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-6}</string>
                <key>spriteSize</key>
                <string>{654,708}</string>
                <key>spriteSourceSize</key>
                <string>{1020,886}</string>
                <key>textureRect</key>
                <string>{{1,1525},{654,708}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-11}</string>
                <key>spriteSize</key>
                <string>{650,712}</string>
                <key>spriteSourceSize</key>
                <string>{1020,886}</string>
                <key>textureRect</key>
                <string>{{690,1},{650,712}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{636,636}</string>
                <key>spriteSourceSize</key>
                <string>{1020,886}</string>
                <key>textureRect</key>
                <string>{{1289,716},{636,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-15}</string>
                <key>spriteSize</key>
                <string>{694,740}</string>
                <key>spriteSourceSize</key>
                <string>{1020,886}</string>
                <key>textureRect</key>
                <string>{{1,782},{694,740}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-508.5,441.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1020,886}</string>
                <key>textureRect</key>
                <string>{{690,716},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_17_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-25}</string>
                <key>spriteSize</key>
                <string>{686,778}</string>
                <key>spriteSourceSize</key>
                <string>{1020,886}</string>
                <key>textureRect</key>
                <string>{{1,1},{686,778}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_17-uhd.png</string>
            <key>size</key>
            <string>{2395,2395}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e075451a1c105b841057767cc4aa177c:922cfdeccb17c2a63c996c6b2fa49e47:708208635c249b898992c79604481e70$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_17-uhd.png</string>
        </dict>
    </dict>
</plist>
