<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_12_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-18}</string>
                <key>spriteSize</key>
                <string>{472,364}</string>
                <key>spriteSourceSize</key>
                <string>{978,1042}</string>
                <key>textureRect</key>
                <string>{{2256,2416},{472,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_12_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-44}</string>
                <key>spriteSize</key>
                <string>{610,584}</string>
                <key>spriteSourceSize</key>
                <string>{978,1042}</string>
                <key>textureRect</key>
                <string>{{1643,2416},{610,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-45}</string>
                <key>spriteSize</key>
                <string>{822,788}</string>
                <key>spriteSourceSize</key>
                <string>{978,1042}</string>
                <key>textureRect</key>
                <string>{{974,906},{822,788}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-45}</string>
                <key>spriteSize</key>
                <string>{918,886}</string>
                <key>spriteSourceSize</key>
                <string>{978,1042}</string>
                <key>textureRect</key>
                <string>{{1901,1},{918,886}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-50}</string>
                <key>spriteSize</key>
                <string>{926,894}</string>
                <key>spriteSourceSize</key>
                <string>{978,1042}</string>
                <key>textureRect</key>
                <string>{{1,1867},{926,894}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-44}</string>
                <key>spriteSize</key>
                <string>{958,924}</string>
                <key>spriteSourceSize</key>
                <string>{978,1042}</string>
                <key>textureRect</key>
                <string>{{1,940},{958,924}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-50}</string>
                <key>spriteSize</key>
                <string>{970,936}</string>
                <key>spriteSourceSize</key>
                <string>{978,1042}</string>
                <key>textureRect</key>
                <string>{{1,1},{970,936}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-55}</string>
                <key>spriteSize</key>
                <string>{924,902}</string>
                <key>spriteSourceSize</key>
                <string>{978,1042}</string>
                <key>textureRect</key>
                <string>{{974,1},{924,902}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-37}</string>
                <key>spriteSize</key>
                <string>{804,708}</string>
                <key>spriteSourceSize</key>
                <string>{978,1042}</string>
                <key>textureRect</key>
                <string>{{962,1697},{804,708}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-38}</string>
                <key>spriteSize</key>
                <string>{802,714}</string>
                <key>spriteSourceSize</key>
                <string>{978,1042}</string>
                <key>textureRect</key>
                <string>{{1799,906},{802,714}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_12_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-32}</string>
                <key>spriteSize</key>
                <string>{792,702}</string>
                <key>spriteSourceSize</key>
                <string>{978,1042}</string>
                <key>textureRect</key>
                <string>{{1769,1711},{792,702}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-32}</string>
                <key>spriteSize</key>
                <string>{710,692}</string>
                <key>spriteSourceSize</key>
                <string>{978,1042}</string>
                <key>textureRect</key>
                <string>{{930,2408},{710,692}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_12-uhd.png</string>
            <key>size</key>
            <string>{3101,3101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67179b7211f45bd621bb07087a729fb8:003f6d04a57513343b3560a1bff51a72:7068cbe6960cfba174b3376944533565$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_12-uhd.png</string>
        </dict>
    </dict>
</plist>
