<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_06_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,47}</string>
                <key>spriteSize</key>
                <string>{158,192}</string>
                <key>spriteSourceSize</key>
                <string>{378,766}</string>
                <key>textureRect</key>
                <string>{{1026,705},{158,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_06_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,107}</string>
                <key>spriteSize</key>
                <string>{216,316}</string>
                <key>spriteSourceSize</key>
                <string>{378,766}</string>
                <key>textureRect</key>
                <string>{{703,723},{216,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_06_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,115}</string>
                <key>spriteSize</key>
                <string>{294,352}</string>
                <key>spriteSourceSize</key>
                <string>{378,766}</string>
                <key>textureRect</key>
                <string>{{703,942},{294,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_06_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,120}</string>
                <key>spriteSize</key>
                <string>{334,368}</string>
                <key>spriteSourceSize</key>
                <string>{378,766}</string>
                <key>textureRect</key>
                <string>{{689,352},{334,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,127}</string>
                <key>spriteSize</key>
                <string>{348,380}</string>
                <key>spriteSourceSize</key>
                <string>{378,766}</string>
                <key>textureRect</key>
                <string>{{703,1},{348,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_06_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,134}</string>
                <key>spriteSize</key>
                <string>{368,388}</string>
                <key>spriteSourceSize</key>
                <string>{378,766}</string>
                <key>textureRect</key>
                <string>{{1,845},{368,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,140}</string>
                <key>spriteSize</key>
                <string>{328,396}</string>
                <key>spriteSourceSize</key>
                <string>{378,766}</string>
                <key>textureRect</key>
                <string>{{372,837},{328,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,145}</string>
                <key>spriteSize</key>
                <string>{334,404}</string>
                <key>spriteSourceSize</key>
                <string>{378,766}</string>
                <key>textureRect</key>
                <string>{{352,1},{334,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,150}</string>
                <key>spriteSize</key>
                <string>{338,410}</string>
                <key>spriteSourceSize</key>
                <string>{378,766}</string>
                <key>textureRect</key>
                <string>{{348,424},{338,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,157}</string>
                <key>spriteSize</key>
                <string>{344,418}</string>
                <key>spriteSourceSize</key>
                <string>{378,766}</string>
                <key>textureRect</key>
                <string>{{1,424},{344,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,165}</string>
                <key>spriteSize</key>
                <string>{348,420}</string>
                <key>spriteSourceSize</key>
                <string>{378,766}</string>
                <key>textureRect</key>
                <string>{{1,1},{348,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,280}</string>
                <key>spriteSize</key>
                <string>{350,206}</string>
                <key>spriteSourceSize</key>
                <string>{378,766}</string>
                <key>textureRect</key>
                <string>{{1026,352},{350,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_06_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,364}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{378,766}</string>
                <key>textureRect</key>
                <string>{{1086,1},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_06-hd.png</string>
            <key>size</key>
            <string>{1237,1237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afb5b38583c769e5be15fa7bccd6ad9e:c40c7b863ad4c07255a24a43ab715708:5054bc40a8e3799bee5d908c64a23889$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_06-hd.png</string>
        </dict>
    </dict>
</plist>
