<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{118,89}</string>
                <key>spriteSourceSize</key>
                <string>{160,165}</string>
                <key>textureRect</key>
                <string>{{316,424},{118,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{136,123}</string>
                <key>spriteSourceSize</key>
                <string>{160,165}</string>
                <key>textureRect</key>
                <string>{{317,298},{136,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{140,143}</string>
                <key>spriteSourceSize</key>
                <string>{160,165}</string>
                <key>textureRect</key>
                <string>{{323,155},{140,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_02_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{136,151}</string>
                <key>spriteSourceSize</key>
                <string>{160,165}</string>
                <key>textureRect</key>
                <string>{{162,319},{136,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_02_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{150,151}</string>
                <key>spriteSourceSize</key>
                <string>{160,165}</string>
                <key>textureRect</key>
                <string>{{323,1},{150,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{158,161}</string>
                <key>spriteSourceSize</key>
                <string>{160,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{158,161}</string>
                <key>spriteSourceSize</key>
                <string>{160,165}</string>
                <key>textureRect</key>
                <string>{{1,165},{158,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{158,161}</string>
                <key>spriteSourceSize</key>
                <string>{160,165}</string>
                <key>textureRect</key>
                <string>{{162,1},{158,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{156,159}</string>
                <key>spriteSourceSize</key>
                <string>{160,165}</string>
                <key>textureRect</key>
                <string>{{1,329},{156,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_02_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{152,151}</string>
                <key>spriteSourceSize</key>
                <string>{160,165}</string>
                <key>textureRect</key>
                <string>{{162,165},{152,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_02.png</string>
            <key>size</key>
            <string>{514,514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:447e41946762fa491a61854c1601826a:a3638dff848d1cf25db31f5de1f1086a:558030ad61c8eed318748b0ac4fee899$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_02.png</string>
        </dict>
    </dict>
</plist>
