<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{312,1010},{84,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{124,122}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{527,743},{124,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_05_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-5}</string>
                <key>spriteSize</key>
                <string>{262,212}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{312,745},{262,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_05_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{308,308}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{1,745},{308,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{366,366}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{370,374},{366,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{366,368}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{1,374},{366,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{368,362}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{739,1},{368,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_05_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{368,364}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{372,1},{368,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_05_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{362,362}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{739,372},{362,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{368,370}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{1,1},{368,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_05-hd.png</string>
            <key>size</key>
            <string>{1102,1102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd6e2f7414d7f02be0b2a7eb0d30c87c:d4ef30d8f81f90257582187625ec8344:67ce5164622c9774868e186d07387f4b$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_05-hd.png</string>
        </dict>
    </dict>
</plist>
