<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_19_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{111,98}</string>
                <key>spriteSourceSize</key>
                <string>{155,148}</string>
                <key>textureRect</key>
                <string>{{274,285},{111,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_19_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,148}</string>
                <key>spriteSourceSize</key>
                <string>{155,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{155,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,144}</string>
                <key>spriteSourceSize</key>
                <string>{155,148}</string>
                <key>textureRect</key>
                <string>{{317,1},{151,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,148}</string>
                <key>spriteSourceSize</key>
                <string>{155,148}</string>
                <key>textureRect</key>
                <string>{{159,1},{155,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{151,134}</string>
                <key>spriteSourceSize</key>
                <string>{155,148}</string>
                <key>textureRect</key>
                <string>{{317,148},{151,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{141,130}</string>
                <key>spriteSourceSize</key>
                <string>{155,148}</string>
                <key>textureRect</key>
                <string>{{1,285},{141,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_19_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{135,120}</string>
                <key>spriteSourceSize</key>
                <string>{155,148}</string>
                <key>textureRect</key>
                <string>{{134,402},{135,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{137,124}</string>
                <key>spriteSourceSize</key>
                <string>{155,148}</string>
                <key>textureRect</key>
                <string>{{130,152},{137,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{137,120}</string>
                <key>spriteSourceSize</key>
                <string>{155,148}</string>
                <key>textureRect</key>
                <string>{{134,279},{137,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,116}</string>
                <key>spriteSourceSize</key>
                <string>{155,148}</string>
                <key>textureRect</key>
                <string>{{272,402},{123,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_19_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{131,124}</string>
                <key>spriteSourceSize</key>
                <string>{155,148}</string>
                <key>textureRect</key>
                <string>{{398,285},{131,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_19_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{127,126}</string>
                <key>spriteSourceSize</key>
                <string>{155,148}</string>
                <key>textureRect</key>
                <string>{{1,152},{127,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_19_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{55,30}</string>
                <key>spriteSourceSize</key>
                <string>{155,148}</string>
                <key>textureRect</key>
                <string>{{471,1},{55,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_19.png</string>
            <key>size</key>
            <string>{523,523}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:945c12a19c985aebf9e649015ba88c4c:90025bfe7cd521e9290aaa6dd48e33be:20c661aa44269a9a3a58c7a074f9861f$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_19.png</string>
        </dict>
    </dict>
</plist>
