<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_16_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,16}</string>
                <key>spriteSize</key>
                <string>{512,510}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{2907,2666},{512,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,16}</string>
                <key>spriteSize</key>
                <string>{702,700}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{1401,2730},{702,700}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_16_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,16}</string>
                <key>spriteSize</key>
                <string>{852,848}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{2670,1811},{852,848}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_16_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,16}</string>
                <key>spriteSize</key>
                <string>{918,916}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{1,1},{918,916}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,16}</string>
                <key>spriteSize</key>
                <string>{918,916}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{1,920},{918,916}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,16}</string>
                <key>spriteSize</key>
                <string>{918,916}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{922,1},{918,916}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,16}</string>
                <key>spriteSize</key>
                <string>{918,916}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{1,1839},{918,916}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,16}</string>
                <key>spriteSize</key>
                <string>{918,916}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{922,920},{918,916}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,16}</string>
                <key>spriteSize</key>
                <string>{918,916}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{1843,1},{918,916}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,16}</string>
                <key>spriteSize</key>
                <string>{888,888}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{922,1839},{888,888}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,16}</string>
                <key>spriteSize</key>
                <string>{888,888}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{1843,920},{888,888}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,16}</string>
                <key>spriteSize</key>
                <string>{854,856}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{1813,1839},{854,856}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,14}</string>
                <key>spriteSize</key>
                <string>{800,804}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{2104,2698},{800,804}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{702,760}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{1,2758},{702,760}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{704,762}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{2764,1},{704,762}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-13}</string>
                <key>spriteSize</key>
                <string>{692,756}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{706,2758},{692,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,130}</string>
                <key>spriteSize</key>
                <string>{470,466}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{2764,766},{470,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_16_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,133}</string>
                <key>spriteSize</key>
                <string>{456,460}</string>
                <key>spriteSourceSize</key>
                <string>{936,948}</string>
                <key>textureRect</key>
                <string>{{2734,1235},{456,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_16-uhd.png</string>
            <key>size</key>
            <string>{3519,3519}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1d31f72a5f9ae605741e83ae94b1533:35a0385cf7a8392ce6afc0cea7d7002e:ca5f3ed77a4103caf6a06eb596f0b162$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_16-uhd.png</string>
        </dict>
    </dict>
</plist>
