<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_12_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{238,182}</string>
                <key>spriteSourceSize</key>
                <string>{498,526}</string>
                <key>textureRect</key>
                <string>{{1282,454},{238,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_12_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-22}</string>
                <key>spriteSize</key>
                <string>{324,304}</string>
                <key>spriteSourceSize</key>
                <string>{498,526}</string>
                <key>textureRect</key>
                <string>{{472,1222},{324,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-22}</string>
                <key>spriteSize</key>
                <string>{422,402}</string>
                <key>spriteSourceSize</key>
                <string>{498,526}</string>
                <key>textureRect</key>
                <string>{{496,458},{422,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-23}</string>
                <key>spriteSize</key>
                <string>{470,450}</string>
                <key>spriteSourceSize</key>
                <string>{498,526}</string>
                <key>textureRect</key>
                <string>{{971,1},{470,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-25}</string>
                <key>spriteSize</key>
                <string>{472,454}</string>
                <key>spriteSourceSize</key>
                <string>{498,526}</string>
                <key>textureRect</key>
                <string>{{496,1},{472,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-22}</string>
                <key>spriteSize</key>
                <string>{488,468}</string>
                <key>spriteSourceSize</key>
                <string>{498,526}</string>
                <key>textureRect</key>
                <string>{{1,478},{488,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-25}</string>
                <key>spriteSize</key>
                <string>{492,474}</string>
                <key>spriteSourceSize</key>
                <string>{498,526}</string>
                <key>textureRect</key>
                <string>{{1,1},{492,474}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-27}</string>
                <key>spriteSize</key>
                <string>{468,458}</string>
                <key>spriteSourceSize</key>
                <string>{498,526}</string>
                <key>textureRect</key>
                <string>{{1,949},{468,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-18}</string>
                <key>spriteSize</key>
                <string>{402,356}</string>
                <key>spriteSourceSize</key>
                <string>{498,526}</string>
                <key>textureRect</key>
                <string>{{492,863},{402,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-19}</string>
                <key>spriteSize</key>
                <string>{402,358}</string>
                <key>spriteSourceSize</key>
                <string>{498,526}</string>
                <key>textureRect</key>
                <string>{{921,458},{402,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_12_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{396,352}</string>
                <key>spriteSourceSize</key>
                <string>{498,526}</string>
                <key>textureRect</key>
                <string>{{897,863},{396,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-16}</string>
                <key>spriteSize</key>
                <string>{356,346}</string>
                <key>spriteSourceSize</key>
                <string>{498,526}</string>
                <key>textureRect</key>
                <string>{{897,1218},{356,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_12-hd.png</string>
            <key>size</key>
            <string>{1565,1565}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04e990fbd3801831762962ae4b90c318:e1e48c720fc290533bc37176ad7e7596:514b30666c279c4f385e2ae1f9cb06e9$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_12-hd.png</string>
        </dict>
    </dict>
</plist>
