<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_08_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,23}</string>
                <key>spriteSize</key>
                <string>{648,566}</string>
                <key>spriteSourceSize</key>
                <string>{982,974}</string>
                <key>textureRect</key>
                <string>{{952,1799},{648,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_08_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,2}</string>
                <key>spriteSize</key>
                <string>{694,672}</string>
                <key>spriteSourceSize</key>
                <string>{982,974}</string>
                <key>textureRect</key>
                <string>{{1909,1741},{694,672}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_08_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-11}</string>
                <key>spriteSize</key>
                <string>{772,742}</string>
                <key>spriteSourceSize</key>
                <string>{982,974}</string>
                <key>textureRect</key>
                <string>{{2756,1713},{772,742}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_08_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-19}</string>
                <key>spriteSize</key>
                <string>{844,820}</string>
                <key>spriteSourceSize</key>
                <string>{982,974}</string>
                <key>textureRect</key>
                <string>{{1909,918},{844,820}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_08_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-19}</string>
                <key>spriteSize</key>
                <string>{898,874}</string>
                <key>spriteSourceSize</key>
                <string>{982,974}</string>
                <key>textureRect</key>
                <string>{{2862,1},{898,874}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_08_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21}</string>
                <key>spriteSize</key>
                <string>{938,914}</string>
                <key>spriteSourceSize</key>
                <string>{982,974}</string>
                <key>textureRect</key>
                <string>{{1921,1},{938,914}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_08_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-21}</string>
                <key>spriteSize</key>
                <string>{956,932}</string>
                <key>spriteSourceSize</key>
                <string>{982,974}</string>
                <key>textureRect</key>
                <string>{{1,1},{956,932}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_08_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-19}</string>
                <key>spriteSize</key>
                <string>{946,892}</string>
                <key>spriteSourceSize</key>
                <string>{982,974}</string>
                <key>textureRect</key>
                <string>{{960,904},{946,892}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_08_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-19}</string>
                <key>spriteSize</key>
                <string>{958,900}</string>
                <key>spriteSourceSize</key>
                <string>{982,974}</string>
                <key>textureRect</key>
                <string>{{960,1},{958,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_08_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-13}</string>
                <key>spriteSize</key>
                <string>{948,878}</string>
                <key>spriteSourceSize</key>
                <string>{982,974}</string>
                <key>textureRect</key>
                <string>{{1,936},{948,878}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_08_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-15}</string>
                <key>spriteSize</key>
                <string>{898,832}</string>
                <key>spriteSourceSize</key>
                <string>{982,974}</string>
                <key>textureRect</key>
                <string>{{2862,878},{898,832}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_08-uhd.png</string>
            <key>size</key>
            <string>{3761,2456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb2f8af54e306f65354097b2c869329c:24caee8ce214771985e6c419afda619a:f56b5367a2ece72bdcb34816067291b1$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_08-uhd.png</string>
        </dict>
    </dict>
</plist>
