<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_12_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{119,91}</string>
                <key>spriteSourceSize</key>
                <string>{249,263}</string>
                <key>textureRect</key>
                <string>{{651,231},{119,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_12_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{163,153}</string>
                <key>spriteSourceSize</key>
                <string>{249,263}</string>
                <key>textureRect</key>
                <string>{{423,623},{163,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_12_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{213,203}</string>
                <key>spriteSourceSize</key>
                <string>{249,263}</string>
                <key>textureRect</key>
                <string>{{251,235},{213,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{237,227}</string>
                <key>spriteSourceSize</key>
                <string>{249,263}</string>
                <key>textureRect</key>
                <string>{{491,1},{237,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{237,229}</string>
                <key>spriteSourceSize</key>
                <string>{249,263}</string>
                <key>textureRect</key>
                <string>{{1,481},{237,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{245,235}</string>
                <key>spriteSourceSize</key>
                <string>{249,263}</string>
                <key>textureRect</key>
                <string>{{1,243},{245,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{247,239}</string>
                <key>spriteSourceSize</key>
                <string>{249,263}</string>
                <key>textureRect</key>
                <string>{{1,1},{247,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{237,231}</string>
                <key>spriteSourceSize</key>
                <string>{249,263}</string>
                <key>textureRect</key>
                <string>{{251,1},{237,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{203,179}</string>
                <key>spriteSourceSize</key>
                <string>{249,263}</string>
                <key>textureRect</key>
                <string>{{249,441},{203,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{201,181}</string>
                <key>spriteSourceSize</key>
                <string>{249,263}</string>
                <key>textureRect</key>
                <string>{{467,235},{201,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_12_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{199,177}</string>
                <key>spriteSourceSize</key>
                <string>{249,263}</string>
                <key>textureRect</key>
                <string>{{455,441},{199,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_12_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-8}</string>
                <key>spriteSize</key>
                <string>{179,175}</string>
                <key>spriteSourceSize</key>
                <string>{249,263}</string>
                <key>textureRect</key>
                <string>{{241,623},{179,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_12.png</string>
            <key>size</key>
            <string>{799,799}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04e990fbd3801831762962ae4b90c318:e1e48c720fc290533bc37176ad7e7596:514b30666c279c4f385e2ae1f9cb06e9$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_12.png</string>
        </dict>
    </dict>
</plist>
