<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{87,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,153}</string>
                <key>textureRect</key>
                <string>{{1,459},{87,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{107,95}</string>
                <key>spriteSourceSize</key>
                <string>{153,153}</string>
                <key>textureRect</key>
                <string>{{433,275},{107,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{121,119}</string>
                <key>spriteSourceSize</key>
                <string>{153,153}</string>
                <key>textureRect</key>
                <string>{{429,151},{121,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_01_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{139,131}</string>
                <key>spriteSourceSize</key>
                <string>{153,153}</string>
                <key>textureRect</key>
                <string>{{299,299},{139,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_01_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{147,141}</string>
                <key>spriteSourceSize</key>
                <string>{153,153}</string>
                <key>textureRect</key>
                <string>{{151,157},{147,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_01_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,153}</string>
                <key>spriteSourceSize</key>
                <string>{153,153}</string>
                <key>textureRect</key>
                <string>{{1,1},{153,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{153,153}</string>
                <key>textureRect</key>
                <string>{{157,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{153,153}</string>
                <key>textureRect</key>
                <string>{{1,309},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{153,153}</string>
                <key>textureRect</key>
                <string>{{307,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{147,149}</string>
                <key>spriteSourceSize</key>
                <string>{153,153}</string>
                <key>textureRect</key>
                <string>{{1,157},{147,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{145,147}</string>
                <key>spriteSourceSize</key>
                <string>{153,153}</string>
                <key>textureRect</key>
                <string>{{151,307},{145,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{131,145}</string>
                <key>spriteSourceSize</key>
                <string>{153,153}</string>
                <key>textureRect</key>
                <string>{{295,151},{131,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_01.png</string>
            <key>size</key>
            <string>{549,549}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:938f36aebad84918155ea1667c06758d:63df9d8d8f7f60baf26e6d421d9eee54:f49b0d1f84fc5c31883720975c7d75ff$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_01.png</string>
        </dict>
    </dict>
</plist>
