<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_14_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{146,153}</string>
                <key>spriteSourceSize</key>
                <string>{294,303}</string>
                <key>textureRect</key>
                <string>{{1,734},{146,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_14_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{164,169}</string>
                <key>spriteSourceSize</key>
                <string>{294,303}</string>
                <key>textureRect</key>
                <string>{{437,712},{164,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_14_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{294,303}</string>
                <key>textureRect</key>
                <string>{{727,482},{178,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_14_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{152,195}</string>
                <key>spriteSourceSize</key>
                <string>{294,303}</string>
                <key>textureRect</key>
                <string>{{239,712},{152,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_14_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-4}</string>
                <key>spriteSize</key>
                <string>{202,231}</string>
                <key>spriteSourceSize</key>
                <string>{294,303}</string>
                <key>textureRect</key>
                <string>{{493,482},{202,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_14_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,3}</string>
                <key>spriteSize</key>
                <string>{224,175}</string>
                <key>spriteSourceSize</key>
                <string>{294,303}</string>
                <key>textureRect</key>
                <string>{{609,687},{224,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_14_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-16}</string>
                <key>spriteSize</key>
                <string>{222,261}</string>
                <key>spriteSourceSize</key>
                <string>{294,303}</string>
                <key>textureRect</key>
                <string>{{284,249},{222,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_14_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-20}</string>
                <key>spriteSize</key>
                <string>{280,263}</string>
                <key>spriteSourceSize</key>
                <string>{294,303}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_14_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-1}</string>
                <key>spriteSize</key>
                <string>{250,227}</string>
                <key>spriteSourceSize</key>
                <string>{294,303}</string>
                <key>textureRect</key>
                <string>{{1,267},{250,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_14_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-18}</string>
                <key>spriteSize</key>
                <string>{242,259}</string>
                <key>spriteSourceSize</key>
                <string>{294,303}</string>
                <key>textureRect</key>
                <string>{{553,1},{242,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_14_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-10}</string>
                <key>spriteSize</key>
                <string>{266,245}</string>
                <key>spriteSourceSize</key>
                <string>{294,303}</string>
                <key>textureRect</key>
                <string>{{284,1},{266,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_14_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-9}</string>
                <key>spriteSize</key>
                <string>{234,235}</string>
                <key>spriteSourceSize</key>
                <string>{294,303}</string>
                <key>textureRect</key>
                <string>{{1,497},{234,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_14_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-10}</string>
                <key>spriteSize</key>
                <string>{258,233}</string>
                <key>spriteSourceSize</key>
                <string>{294,303}</string>
                <key>textureRect</key>
                <string>{{553,246},{258,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_14_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-10}</string>
                <key>spriteSize</key>
                <string>{236,235}</string>
                <key>spriteSourceSize</key>
                <string>{294,303}</string>
                <key>textureRect</key>
                <string>{{254,474},{236,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_14.png</string>
            <key>size</key>
            <string>{881,881}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc2a2ea92a3aa3fef71a8b51ecc6fd31:31c8d04f207c8be70594a065cb09cc0e:36728eee3b53ba645d7511967897a337$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_14.png</string>
        </dict>
    </dict>
</plist>
