<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_08_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{163,143}</string>
                <key>spriteSourceSize</key>
                <string>{245,243}</string>
                <key>textureRect</key>
                <string>{{447,651},{163,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_08_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{175,169}</string>
                <key>spriteSourceSize</key>
                <string>{245,243}</string>
                <key>textureRect</key>
                <string>{{645,461},{175,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_08_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{195,187}</string>
                <key>spriteSourceSize</key>
                <string>{245,243}</string>
                <key>textureRect</key>
                <string>{{447,461},{195,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_08_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{213,205}</string>
                <key>spriteSourceSize</key>
                <string>{245,243}</string>
                <key>textureRect</key>
                <string>{{231,467},{213,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_08_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{225,217}</string>
                <key>spriteSourceSize</key>
                <string>{245,243}</string>
                <key>textureRect</key>
                <string>{{443,233},{225,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_08_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{235,229}</string>
                <key>spriteSourceSize</key>
                <string>{245,243}</string>
                <key>textureRect</key>
                <string>{{243,1},{235,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_08_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{239,233}</string>
                <key>spriteSourceSize</key>
                <string>{245,243}</string>
                <key>textureRect</key>
                <string>{{1,1},{239,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_08_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{245,243}</string>
                <key>textureRect</key>
                <string>{{1,481},{239,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_08_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{241,227}</string>
                <key>spriteSourceSize</key>
                <string>{245,243}</string>
                <key>textureRect</key>
                <string>{{1,237},{241,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_08_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{239,221}</string>
                <key>spriteSourceSize</key>
                <string>{245,243}</string>
                <key>textureRect</key>
                <string>{{481,1},{239,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_08_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{227,209}</string>
                <key>spriteSourceSize</key>
                <string>{245,243}</string>
                <key>textureRect</key>
                <string>{{231,237},{227,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_08.png</string>
            <key>size</key>
            <string>{815,815}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c9e2eb1946ed2743c585de0ab520816:b62bb473df2e9bebeb5607bd548a22cb:988c9b6dde2ff98700d4a77f53cf802e$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_08.png</string>
        </dict>
    </dict>
</plist>
