<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_07_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{438,436}</string>
                <key>spriteSourceSize</key>
                <string>{748,714}</string>
                <key>textureRect</key>
                <string>{{1449,486},{438,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_07_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{484,482}</string>
                <key>spriteSourceSize</key>
                <string>{748,714}</string>
                <key>textureRect</key>
                <string>{{1449,1},{484,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_07_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{558,548}</string>
                <key>spriteSourceSize</key>
                <string>{748,714}</string>
                <key>textureRect</key>
                <string>{{1431,925},{558,548}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_07_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{614,592}</string>
                <key>spriteSourceSize</key>
                <string>{748,714}</string>
                <key>textureRect</key>
                <string>{{1391,1486},{614,592}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_07_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{676,666}</string>
                <key>spriteSourceSize</key>
                <string>{748,714}</string>
                <key>textureRect</key>
                <string>{{712,1347},{676,666}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_07_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{720,704}</string>
                <key>spriteSourceSize</key>
                <string>{748,714}</string>
                <key>textureRect</key>
                <string>{{726,1},{720,704}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_07_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{708,686}</string>
                <key>spriteSourceSize</key>
                <string>{748,714}</string>
                <key>textureRect</key>
                <string>{{1,1285},{708,686}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_07_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-11}</string>
                <key>spriteSize</key>
                <string>{714,640}</string>
                <key>spriteSourceSize</key>
                <string>{748,714}</string>
                <key>textureRect</key>
                <string>{{1,642},{714,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_07_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{722,638}</string>
                <key>spriteSourceSize</key>
                <string>{748,714}</string>
                <key>textureRect</key>
                <string>{{1,1},{722,638}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_07_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5}</string>
                <key>spriteSize</key>
                <string>{710,636}</string>
                <key>spriteSourceSize</key>
                <string>{748,714}</string>
                <key>textureRect</key>
                <string>{{718,708},{710,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_07_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-55}</string>
                <key>spriteSize</key>
                <string>{674,344}</string>
                <key>spriteSourceSize</key>
                <string>{748,714}</string>
                <key>textureRect</key>
                <string>{{1,1974},{674,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_07-uhd.png</string>
            <key>size</key>
            <string>{1984,2319}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e51d7f85a748edb96e876eccf80ff68:5ed28308c2a194db41b25bdb81283f38:5525c1420cfd5c5fa0eda1cc6821df6c$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_07-uhd.png</string>
        </dict>
    </dict>
</plist>
