<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{128,122}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{196,737},{128,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{192,212}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{1,737},{192,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,16}</string>
                <key>spriteSize</key>
                <string>{300,294}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{689,693},{300,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_04_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,4}</string>
                <key>spriteSize</key>
                <string>{340,348}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{372,342},{340,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{366,338}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{372,1},{366,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,360}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{1,374},{368,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{368,370}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{1,1},{368,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_04_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{308,314}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{372,693},{308,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_04_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-4}</string>
                <key>spriteSize</key>
                <string>{278,304}</string>
                <key>spriteSourceSize</key>
                <string>{368,378}</string>
                <key>textureRect</key>
                <string>{{715,342},{278,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_04-hd.png</string>
            <key>size</key>
            <string>{1002,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49606f9640e3c6a7784a4cffc7dfc288:d9bc392d373fd29498090ff8a514f942:d5da02ea408bd0ce71924d70f32146a2$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_04-hd.png</string>
        </dict>
    </dict>
</plist>
