<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{344,300}</string>
                <key>spriteSourceSize</key>
                <string>{612,612}</string>
                <key>textureRect</key>
                <string>{{2900,1},{344,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_01_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,5}</string>
                <key>spriteSize</key>
                <string>{422,372}</string>
                <key>spriteSourceSize</key>
                <string>{612,612}</string>
                <key>textureRect</key>
                <string>{{2864,574},{422,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_01_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,22}</string>
                <key>spriteSize</key>
                <string>{482,470}</string>
                <key>spriteSourceSize</key>
                <string>{612,612}</string>
                <key>textureRect</key>
                <string>{{2379,574},{482,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,18}</string>
                <key>spriteSize</key>
                <string>{550,520}</string>
                <key>spriteSourceSize</key>
                <string>{612,612}</string>
                <key>textureRect</key>
                <string>{{586,604},{550,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_01_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{582,554}</string>
                <key>spriteSourceSize</key>
                <string>{612,612}</string>
                <key>textureRect</key>
                <string>{{1,604},{582,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{610,600}</string>
                <key>spriteSourceSize</key>
                <string>{612,612}</string>
                <key>textureRect</key>
                <string>{{1,1},{610,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-13}</string>
                <key>spriteSize</key>
                <string>{588,580}</string>
                <key>spriteSourceSize</key>
                <string>{612,612}</string>
                <key>textureRect</key>
                <string>{{1201,588},{588,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-13}</string>
                <key>spriteSize</key>
                <string>{586,584}</string>
                <key>spriteSourceSize</key>
                <string>{612,612}</string>
                <key>textureRect</key>
                <string>{{1201,1},{586,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-9}</string>
                <key>spriteSize</key>
                <string>{586,584}</string>
                <key>spriteSourceSize</key>
                <string>{612,612}</string>
                <key>textureRect</key>
                <string>{{1790,1},{586,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-10}</string>
                <key>spriteSize</key>
                <string>{584,590}</string>
                <key>spriteSourceSize</key>
                <string>{612,612}</string>
                <key>textureRect</key>
                <string>{{614,1},{584,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{576,578}</string>
                <key>spriteSourceSize</key>
                <string>{612,612}</string>
                <key>textureRect</key>
                <string>{{1792,588},{576,578}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_01_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-5}</string>
                <key>spriteSize</key>
                <string>{518,570}</string>
                <key>spriteSourceSize</key>
                <string>{612,612}</string>
                <key>textureRect</key>
                <string>{{2379,1},{518,570}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_01-uhd.png</string>
            <key>size</key>
            <string>{3237,1169}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da988953f1de7b1f883b161f1aad8814:c4b1aa0ebb6ee2f61a4a7079867ce875:26acb86a1acdf248650b2fe98676c6fc$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_01-uhd.png</string>
        </dict>
    </dict>
</plist>
