<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_18_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-1}</string>
                <key>spriteSize</key>
                <string>{282,278}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{986,2369},{282,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,26}</string>
                <key>spriteSize</key>
                <string>{452,476}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{2161,2201},{452,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,46}</string>
                <key>spriteSize</key>
                <string>{600,582}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{616,1233},{600,582}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,38}</string>
                <key>spriteSize</key>
                <string>{614,608}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{642,622},{614,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,35}</string>
                <key>spriteSize</key>
                <string>{630,618}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{1920,1},{630,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,36}</string>
                <key>spriteSize</key>
                <string>{638,620}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{1,1},{638,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,42}</string>
                <key>spriteSize</key>
                <string>{636,618}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{642,1},{636,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,43}</string>
                <key>spriteSize</key>
                <string>{636,616}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{1281,1},{636,616}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,40}</string>
                <key>spriteSize</key>
                <string>{634,612}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{1281,620},{634,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{626,588}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{1,624},{626,588}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,16}</string>
                <key>spriteSize</key>
                <string>{612,580}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{1,1215},{612,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,12}</string>
                <key>spriteSize</key>
                <string>{596,568}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{1,1798},{596,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,12}</string>
                <key>spriteSize</key>
                <string>{582,556}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{1219,1235},{582,556}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,23}</string>
                <key>spriteSize</key>
                <string>{548,536}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{600,1818},{548,536}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,21}</string>
                <key>spriteSize</key>
                <string>{534,538}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{1139,1818},{534,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,50}</string>
                <key>spriteSize</key>
                <string>{504,482}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{1676,1794},{504,482}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,54}</string>
                <key>spriteSize</key>
                <string>{506,472}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{1804,1235},{506,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,54}</string>
                <key>spriteSize</key>
                <string>{502,464}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{1918,622},{502,464}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,54}</string>
                <key>spriteSize</key>
                <string>{498,454}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{2161,1744},{498,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_18_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,56}</string>
                <key>spriteSize</key>
                <string>{488,452}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{2279,1127},{488,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,0}</string>
                <key>spriteSize</key>
                <string>{346,334}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{1,2369},{346,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-3}</string>
                <key>spriteSize</key>
                <string>{328,326}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{338,2369},{328,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_18_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-6}</string>
                <key>spriteSize</key>
                <string>{328,316}</string>
                <key>spriteSourceSize</key>
                <string>{668,702}</string>
                <key>textureRect</key>
                <string>{{667,2369},{328,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_18-uhd.png</string>
            <key>size</key>
            <string>{2732,2732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17f4e226a32bdc1188d951b394569978:5b9e3655deab1560a47faadd985ab605:a01881e6ea3d4492e975832fea4b1ab4$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_18-uhd.png</string>
        </dict>
    </dict>
</plist>
