<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_06_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{41,97}</string>
                <key>spriteSourceSize</key>
                <string>{189,383}</string>
                <key>textureRect</key>
                <string>{{551,1},{41,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,54}</string>
                <key>spriteSize</key>
                <string>{109,159}</string>
                <key>spriteSourceSize</key>
                <string>{189,383}</string>
                <key>textureRect</key>
                <string>{{507,367},{109,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,57}</string>
                <key>spriteSize</key>
                <string>{147,177}</string>
                <key>spriteSourceSize</key>
                <string>{189,383}</string>
                <key>textureRect</key>
                <string>{{357,367},{147,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,60}</string>
                <key>spriteSize</key>
                <string>{169,185}</string>
                <key>spriteSourceSize</key>
                <string>{189,383}</string>
                <key>textureRect</key>
                <string>{{351,179},{169,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,63}</string>
                <key>spriteSize</key>
                <string>{175,191}</string>
                <key>spriteSourceSize</key>
                <string>{189,383}</string>
                <key>textureRect</key>
                <string>{{357,1},{175,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_06_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,67}</string>
                <key>spriteSize</key>
                <string>{185,195}</string>
                <key>spriteSourceSize</key>
                <string>{189,383}</string>
                <key>textureRect</key>
                <string>{{169,427},{185,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,70}</string>
                <key>spriteSize</key>
                <string>{165,199}</string>
                <key>spriteSourceSize</key>
                <string>{189,383}</string>
                <key>textureRect</key>
                <string>{{1,427},{165,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,73}</string>
                <key>spriteSize</key>
                <string>{169,203}</string>
                <key>spriteSourceSize</key>
                <string>{189,383}</string>
                <key>textureRect</key>
                <string>{{179,1},{169,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,75}</string>
                <key>spriteSize</key>
                <string>{171,205}</string>
                <key>spriteSourceSize</key>
                <string>{189,383}</string>
                <key>textureRect</key>
                <string>{{177,215},{171,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,78}</string>
                <key>spriteSize</key>
                <string>{173,209}</string>
                <key>spriteSourceSize</key>
                <string>{189,383}</string>
                <key>textureRect</key>
                <string>{{1,215},{173,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,83}</string>
                <key>spriteSize</key>
                <string>{175,211}</string>
                <key>spriteSourceSize</key>
                <string>{189,383}</string>
                <key>textureRect</key>
                <string>{{1,1},{175,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_06_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,139}</string>
                <key>spriteSize</key>
                <string>{175,105}</string>
                <key>spriteSourceSize</key>
                <string>{189,383}</string>
                <key>textureRect</key>
                <string>{{523,179},{175,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_06_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,182}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{189,383}</string>
                <key>textureRect</key>
                <string>{{595,1},{23,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_06.png</string>
            <key>size</key>
            <string>{629,629}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afb5b38583c769e5be15fa7bccd6ad9e:c40c7b863ad4c07255a24a43ab715708:5054bc40a8e3799bee5d908c64a23889$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_06.png</string>
        </dict>
    </dict>
</plist>
