<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerExplosion_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{162,166}</string>
                <key>spriteSourceSize</key>
                <string>{736,756}</string>
                <key>textureRect</key>
                <string>{{1347,2549},{162,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_05_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{358,242}</string>
                <key>spriteSourceSize</key>
                <string>{736,756}</string>
                <key>textureRect</key>
                <string>{{1347,2188},{358,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_05_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{620,428}</string>
                <key>spriteSourceSize</key>
                <string>{736,756}</string>
                <key>textureRect</key>
                <string>{{1,2200},{620,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{618,614}</string>
                <key>spriteSourceSize</key>
                <string>{736,756}</string>
                <key>textureRect</key>
                <string>{{730,2188},{618,614}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_05_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{730,730}</string>
                <key>spriteSourceSize</key>
                <string>{736,756}</string>
                <key>textureRect</key>
                <string>{{1,740},{730,730}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{732,734}</string>
                <key>spriteSourceSize</key>
                <string>{736,756}</string>
                <key>textureRect</key>
                <string>{{742,1},{732,734}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerExplosion_05_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{738,724}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{742,736},{738,724}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{738,722}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{734,1463},{738,722}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{726,724}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1473},{726,724}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerExplosion_05_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{736,738}</string>
                <key>spriteSourceSize</key>
                <string>{736,756}</string>
                <key>textureRect</key>
                <string>{{1,1},{736,738}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerExplosion_05-uhd.png</string>
            <key>size</key>
            <string>{1590,2807}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea0dad6c25a2a991a9fb39b8257984e9:b491a1449469e95a2d1f4eecb379f77a:819a161a95b910bb6757ab3d49240e95$</string>
            <key>textureFileName</key>
            <string>PlayerExplosion_05-uhd.png</string>
        </dict>
    </dict>
</plist>
