<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GJ_secretLock2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{441,1},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_secretLock2_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-40}</string>
                <key>spriteSize</key>
                <string>{37,44}</string>
                <key>spriteSourceSize</key>
                <string>{37,124}</string>
                <key>textureRect</key>
                <string>{{639,1},{37,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_secretLock3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{76,117}</string>
                <key>spriteSourceSize</key>
                <string>{76,159}</string>
                <key>textureRect</key>
                <string>{{246,1},{76,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeonTorch_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{31,40}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{559,76},{31,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_bars_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,125}</string>
                <key>spriteSourceSize</key>
                <string>{111,125}</string>
                <key>textureRect</key>
                <string>{{14,1},{111,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_bars_bottom_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,10}</string>
                <key>spriteSourceSize</key>
                <string>{115,10}</string>
                <key>textureRect</key>
                <string>{{1,1},{115,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_foreground_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,36}</string>
                <key>spriteSourceSize</key>
                <string>{310,36}</string>
                <key>textureRect</key>
                <string>{{246,80},{310,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secretBody_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{111,101}</string>
                <key>spriteSourceSize</key>
                <string>{121,101}</string>
                <key>textureRect</key>
                <string>{{142,1},{111,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secretDoor_closed_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{55,72}</string>
                <key>spriteSourceSize</key>
                <string>{55,78}</string>
                <key>textureRect</key>
                <string>{{514,1},{55,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secretDoor_open_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{75,72}</string>
                <key>spriteSourceSize</key>
                <string>{93,78}</string>
                <key>textureRect</key>
                <string>{{366,1},{75,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secretEyes_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,18}</string>
                <key>spriteSourceSize</key>
                <string>{44,18}</string>
                <key>textureRect</key>
                <string>{{572,50},{44,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secretEyes_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,19}</string>
                <key>spriteSourceSize</key>
                <string>{46,19}</string>
                <key>textureRect</key>
                <string>{{572,1},{46,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secretLock01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{593,71},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secretLock02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{594,1},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secretLock03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{638,48},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SecretSheet.png</string>
            <key>size</key>
            <string>{681,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f471e8031fd774549459b65f53025e7:b802177fc304e1b51adc9c9fafa468a8:d2e248a0b07c20ee3e94b324020fb1c4$</string>
            <key>textureFileName</key>
            <string>SecretSheet.png</string>
        </dict>
    </dict>
</plist>
