<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GJ_secretLock2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{274,282}</string>
                <key>spriteSourceSize</key>
                <string>{280,294}</string>
                <key>textureRect</key>
                <string>{{1538,1},{274,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_secretLock2_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-160}</string>
                <key>spriteSize</key>
                <string>{142,174}</string>
                <key>spriteSourceSize</key>
                <string>{148,494}</string>
                <key>textureRect</key>
                <string>{{1253,300},{142,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_secretLock3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-87}</string>
                <key>spriteSize</key>
                <string>{298,460}</string>
                <key>spriteSourceSize</key>
                <string>{304,636}</string>
                <key>textureRect</key>
                <string>{{1,1},{298,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeonTorch_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{121,154}</string>
                <key>spriteSourceSize</key>
                <string>{133,166}</string>
                <key>textureRect</key>
                <string>{{2371,1},{121,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_bars_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,500}</string>
                <key>spriteSourceSize</key>
                <string>{445,500}</string>
                <key>textureRect</key>
                <string>{{345,1},{445,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_bars_bottom_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,40}</string>
                <key>spriteSourceSize</key>
                <string>{460,40}</string>
                <key>textureRect</key>
                <string>{{302,1},{460,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_foreground_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{1234,138}</string>
                <key>spriteSourceSize</key>
                <string>{1238,142}</string>
                <key>textureRect</key>
                <string>{{1717,286},{1234,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secretBody_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-1}</string>
                <key>spriteSize</key>
                <string>{442,402}</string>
                <key>spriteSourceSize</key>
                <string>{484,404}</string>
                <key>textureRect</key>
                <string>{{848,1},{442,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secretDoor_closed_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{217,282}</string>
                <key>spriteSourceSize</key>
                <string>{221,312}</string>
                <key>textureRect</key>
                <string>{{1815,1},{217,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secretDoor_open_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-15}</string>
                <key>spriteSize</key>
                <string>{296,282}</string>
                <key>spriteSourceSize</key>
                <string>{370,312}</string>
                <key>textureRect</key>
                <string>{{1253,1},{296,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secretEyes_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{176,70}</string>
                <key>spriteSourceSize</key>
                <string>{176,72}</string>
                <key>textureRect</key>
                <string>{{1644,286},{176,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secretEyes_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{183,75}</string>
                <key>spriteSourceSize</key>
                <string>{183,77}</string>
                <key>textureRect</key>
                <string>{{1566,286},{183,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secretLock01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{165,168}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{1398,300},{165,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secretLock02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{165,168}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{2035,1},{165,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secretLock03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{165,168}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{2203,1},{165,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SecretSheet-uhd.png</string>
            <key>size</key>
            <string>{2952,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f471e8031fd774549459b65f53025e7:b802177fc304e1b51adc9c9fafa468a8:d2e248a0b07c20ee3e94b324020fb1c4$</string>
            <key>textureFileName</key>
            <string>SecretSheet-uhd.png</string>
        </dict>
    </dict>
</plist>
