<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>godray01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{337,546},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theTower_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-16}</string>
                <key>spriteSize</key>
                <string>{214,610}</string>
                <key>spriteSourceSize</key>
                <string>{220,642}</string>
                <key>textureRect</key>
                <string>{{646,1},{214,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerBG_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,542}</string>
                <key>spriteSourceSize</key>
                <string>{642,542}</string>
                <key>textureRect</key>
                <string>{{1,1},{642,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerDoor_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,106}</string>
                <key>spriteSourceSize</key>
                <string>{112,106}</string>
                <key>textureRect</key>
                <string>{{460,546},{112,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>towerDoor_open_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{140,106}</string>
                <key>spriteSourceSize</key>
                <string>{166,106}</string>
                <key>textureRect</key>
                <string>{{194,546},{140,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerDoor_unlocked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,106}</string>
                <key>spriteSourceSize</key>
                <string>{112,106}</string>
                <key>textureRect</key>
                <string>{{569,614},{112,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerLockedArrow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{97,70}</string>
                <key>spriteSourceSize</key>
                <string>{99,94}</string>
                <key>textureRect</key>
                <string>{{194,655},{97,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerShine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,546},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerTorchInner_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,62}</string>
                <key>spriteSourceSize</key>
                <string>{53,62}</string>
                <key>textureRect</key>
                <string>{{569,546},{53,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerTorch_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,31}</string>
                <key>spriteSourceSize</key>
                <string>{16,31}</string>
                <key>textureRect</key>
                <string>{{294,655},{16,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TowerSheet-hd.png</string>
            <key>size</key>
            <string>{861,737}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f41c046f90b8cbf80f73f4fe5724c0fe:2e3a13ffb46d78225157f013bdfd3404:f41b48681d6a31d57b71be7cf9112f12$</string>
            <key>textureFileName</key>
            <string>TowerSheet-hd.png</string>
        </dict>
    </dict>
</plist>
