<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>godray01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{325,57},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theTower_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{108,307}</string>
                <key>spriteSourceSize</key>
                <string>{110,321}</string>
                <key>textureRect</key>
                <string>{{1,275},{108,307}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>towerBG_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,271}</string>
                <key>spriteSourceSize</key>
                <string>{321,271}</string>
                <key>textureRect</key>
                <string>{{1,1},{321,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerDoor_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,53}</string>
                <key>spriteSourceSize</key>
                <string>{56,53}</string>
                <key>textureRect</key>
                <string>{{325,120},{56,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerDoor_open_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{71,53}</string>
                <key>spriteSourceSize</key>
                <string>{83,53}</string>
                <key>textureRect</key>
                <string>{{325,1},{71,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerDoor_unlocked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,53}</string>
                <key>spriteSourceSize</key>
                <string>{56,53}</string>
                <key>textureRect</key>
                <string>{{325,176},{56,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerLockedArrow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,47}</string>
                <key>textureRect</key>
                <string>{{325,232},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerShine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{311,275},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerTorchInner_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{378,232},{27,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerTorch_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{399,1},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TowerSheet.png</string>
            <key>size</key>
            <string>{408,384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f41c046f90b8cbf80f73f4fe5724c0fe:2e3a13ffb46d78225157f013bdfd3404:f41b48681d6a31d57b71be7cf9112f12$</string>
            <key>textureFileName</key>
            <string>TowerSheet.png</string>
        </dict>
    </dict>
</plist>
