<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>godray01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,238}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{667,1086},{240,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theTower_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-32}</string>
                <key>spriteSize</key>
                <string>{424,1218}</string>
                <key>spriteSourceSize</key>
                <string>{440,1284}</string>
                <key>textureRect</key>
                <string>{{1286,1},{424,1218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerBG_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1282,1082}</string>
                <key>spriteSourceSize</key>
                <string>{1284,1084}</string>
                <key>textureRect</key>
                <string>{{1,1},{1282,1082}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerDoor_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,212}</string>
                <key>spriteSourceSize</key>
                <string>{224,212}</string>
                <key>textureRect</key>
                <string>{{910,1086},{224,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>towerDoor_open_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{280,212}</string>
                <key>spriteSourceSize</key>
                <string>{332,212}</string>
                <key>textureRect</key>
                <string>{{384,1086},{280,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerDoor_unlocked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,212}</string>
                <key>spriteSourceSize</key>
                <string>{224,212}</string>
                <key>textureRect</key>
                <string>{{1125,1222},{224,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerLockedArrow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-25}</string>
                <key>spriteSize</key>
                <string>{192,138}</string>
                <key>spriteSourceSize</key>
                <string>{198,188}</string>
                <key>textureRect</key>
                <string>{{384,1301},{192,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerShine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,380}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1086},{380,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerTorchInner_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,124}</string>
                <key>spriteSourceSize</key>
                <string>{106,124}</string>
                <key>textureRect</key>
                <string>{{1125,1086},{106,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerTorch_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,62}</string>
                <key>spriteSourceSize</key>
                <string>{32,62}</string>
                <key>textureRect</key>
                <string>{{579,1301},{32,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TowerSheet-uhd.png</string>
            <key>size</key>
            <string>{1711,1467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f41c046f90b8cbf80f73f4fe5724c0fe:2e3a13ffb46d78225157f013bdfd3404:f41b48681d6a31d57b71be7cf9112f12$</string>
            <key>textureFileName</key>
            <string>TowerSheet-uhd.png</string>
        </dict>
    </dict>
</plist>
