<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chestPlatform_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{157,32}</string>
                <key>spriteSourceSize</key>
                <string>{159,36}</string>
                <key>textureRect</key>
                <string>{{1,1372},{157,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chestSpecial_01_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,33}</string>
                <key>spriteSourceSize</key>
                <string>{109,33}</string>
                <key>textureRect</key>
                <string>{{1,122},{109,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chestSpecial_02_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,33}</string>
                <key>spriteSourceSize</key>
                <string>{109,33}</string>
                <key>textureRect</key>
                <string>{{1,158},{109,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chestSpecial_03_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,33}</string>
                <key>spriteSourceSize</key>
                <string>{109,33}</string>
                <key>textureRect</key>
                <string>{{1,194},{109,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,33}</string>
                <key>spriteSourceSize</key>
                <string>{109,33}</string>
                <key>textureRect</key>
                <string>{{1,230},{109,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,33}</string>
                <key>spriteSourceSize</key>
                <string>{109,33}</string>
                <key>textureRect</key>
                <string>{{1,266},{109,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,33}</string>
                <key>spriteSourceSize</key>
                <string>{109,33}</string>
                <key>textureRect</key>
                <string>{{1,302},{109,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,33}</string>
                <key>spriteSourceSize</key>
                <string>{109,33}</string>
                <key>textureRect</key>
                <string>{{1,338},{109,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,33}</string>
                <key>spriteSourceSize</key>
                <string>{109,33}</string>
                <key>textureRect</key>
                <string>{{1,374},{109,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,33}</string>
                <key>spriteSourceSize</key>
                <string>{109,33}</string>
                <key>textureRect</key>
                <string>{{1,410},{109,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tier1label_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{146,50}</string>
                <key>spriteSourceSize</key>
                <string>{152,56}</string>
                <key>textureRect</key>
                <string>{{1,1223},{146,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tier2label_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{154,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,56}</string>
                <key>textureRect</key>
                <string>{{1,1066},{154,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>treasureRoomGround_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1068,53}</string>
                <key>spriteSourceSize</key>
                <string>{1068,53}</string>
                <key>textureRect</key>
                <string>{{66,446},{1068,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>treasureRoomLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{617,62}</string>
                <key>spriteSourceSize</key>
                <string>{623,70}</string>
                <key>textureRect</key>
                <string>{{1,446},{617,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>treasureRoomSpiderweb_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TreasureRoomSheet-hd.png</string>
            <key>size</key>
            <string>{122,1530}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc0dd8603951cc72d33fb496bf4e2dd8:6e873506a403a3733b3c8fe33b70368c:b668ab0d174c4c3c8e25b8d07c4ffcce$</string>
            <key>textureFileName</key>
            <string>TreasureRoomSheet-hd.png</string>
        </dict>
    </dict>
</plist>
