<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chestPlatform_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,18}</string>
                <key>spriteSourceSize</key>
                <string>{80,18}</string>
                <key>textureRect</key>
                <string>{{1,31},{80,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chestSpecial_01_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,17}</string>
                <key>spriteSourceSize</key>
                <string>{55,17}</string>
                <key>textureRect</key>
                <string>{{242,31},{55,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chestSpecial_02_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,17}</string>
                <key>spriteSourceSize</key>
                <string>{55,17}</string>
                <key>textureRect</key>
                <string>{{300,31},{55,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chestSpecial_03_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,17}</string>
                <key>spriteSourceSize</key>
                <string>{55,17}</string>
                <key>textureRect</key>
                <string>{{358,31},{55,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,17}</string>
                <key>spriteSourceSize</key>
                <string>{55,17}</string>
                <key>textureRect</key>
                <string>{{416,31},{55,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,17}</string>
                <key>spriteSourceSize</key>
                <string>{55,17}</string>
                <key>textureRect</key>
                <string>{{474,31},{55,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,17}</string>
                <key>spriteSourceSize</key>
                <string>{55,17}</string>
                <key>textureRect</key>
                <string>{{532,37},{55,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,17}</string>
                <key>spriteSourceSize</key>
                <string>{55,17}</string>
                <key>textureRect</key>
                <string>{{590,37},{55,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,17}</string>
                <key>spriteSourceSize</key>
                <string>{55,17}</string>
                <key>textureRect</key>
                <string>{{648,37},{55,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,17}</string>
                <key>spriteSourceSize</key>
                <string>{55,17}</string>
                <key>textureRect</key>
                <string>{{706,37},{55,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tier1label_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{74,26}</string>
                <key>spriteSourceSize</key>
                <string>{76,28}</string>
                <key>textureRect</key>
                <string>{{165,31},{74,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tier2label_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{78,26}</string>
                <key>spriteSourceSize</key>
                <string>{80,28}</string>
                <key>textureRect</key>
                <string>{{84,31},{78,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasureRoomGround_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{534,27}</string>
                <key>spriteSourceSize</key>
                <string>{534,27}</string>
                <key>textureRect</key>
                <string>{{1,1},{534,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasureRoomLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{310,33}</string>
                <key>spriteSourceSize</key>
                <string>{312,35}</string>
                <key>textureRect</key>
                <string>{{538,1},{310,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasureRoomSpiderweb_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{851,1},{60,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TreasureRoomSheet.png</string>
            <key>size</key>
            <string>{912,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc0dd8603951cc72d33fb496bf4e2dd8:6e873506a403a3733b3c8fe33b70368c:b668ab0d174c4c3c8e25b8d07c4ffcce$</string>
            <key>textureFileName</key>
            <string>TreasureRoomSheet.png</string>
        </dict>
    </dict>
</plist>
