<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chestPlatform_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{310,64}</string>
                <key>spriteSourceSize</key>
                <string>{318,72}</string>
                <key>textureRect</key>
                <string>{{1,2694},{310,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chestSpecial_01_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,66}</string>
                <key>spriteSourceSize</key>
                <string>{218,66}</string>
                <key>textureRect</key>
                <string>{{1,240},{218,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chestSpecial_02_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,66}</string>
                <key>spriteSourceSize</key>
                <string>{218,66}</string>
                <key>textureRect</key>
                <string>{{1,309},{218,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chestSpecial_03_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,66}</string>
                <key>spriteSourceSize</key>
                <string>{218,66}</string>
                <key>textureRect</key>
                <string>{{1,378},{218,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,66}</string>
                <key>spriteSourceSize</key>
                <string>{218,66}</string>
                <key>textureRect</key>
                <string>{{1,447},{218,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,66}</string>
                <key>spriteSourceSize</key>
                <string>{218,66}</string>
                <key>textureRect</key>
                <string>{{1,516},{218,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,66}</string>
                <key>spriteSourceSize</key>
                <string>{218,66}</string>
                <key>textureRect</key>
                <string>{{1,585},{218,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,66}</string>
                <key>spriteSourceSize</key>
                <string>{218,66}</string>
                <key>textureRect</key>
                <string>{{1,654},{218,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,66}</string>
                <key>spriteSourceSize</key>
                <string>{218,66}</string>
                <key>textureRect</key>
                <string>{{1,723},{218,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,66}</string>
                <key>spriteSourceSize</key>
                <string>{218,66}</string>
                <key>textureRect</key>
                <string>{{1,792},{218,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tier1label_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{290,96}</string>
                <key>spriteSourceSize</key>
                <string>{304,112}</string>
                <key>textureRect</key>
                <string>{{1,2401},{290,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tier2label_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{304,96}</string>
                <key>spriteSourceSize</key>
                <string>{320,112}</string>
                <key>textureRect</key>
                <string>{{1,2094},{304,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>treasureRoomGround_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2136,106}</string>
                <key>spriteSourceSize</key>
                <string>{2136,106}</string>
                <key>textureRect</key>
                <string>{{128,861},{2136,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>treasureRoomLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{1230,124}</string>
                <key>spriteSourceSize</key>
                <string>{1246,140}</string>
                <key>textureRect</key>
                <string>{{1,861},{1230,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>treasureRoomSpiderweb_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{236,236}</string>
                <key>spriteSourceSize</key>
                <string>{240,236}</string>
                <key>textureRect</key>
                <string>{{1,1},{236,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TreasureRoomSheet-uhd.png</string>
            <key>size</key>
            <string>{238,3005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc0dd8603951cc72d33fb496bf4e2dd8:6e873506a403a3733b3c8fe33b70368c:b668ab0d174c4c3c8e25b8d07c4ffcce$</string>
            <key>textureFileName</key>
            <string>TreasureRoomSheet-uhd.png</string>
        </dict>
    </dict>
</plist>
