<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worldDot_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,5}</string>
                <key>spriteSourceSize</key>
                <string>{7,5}</string>
                <key>textureRect</key>
                <string>{{1,488},{7,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldIsland_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{436,207}</string>
                <key>spriteSourceSize</key>
                <string>{440,207}</string>
                <key>textureRect</key>
                <string>{{1,1},{436,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldIsland_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,274}</string>
                <key>spriteSourceSize</key>
                <string>{420,274}</string>
                <key>textureRect</key>
                <string>{{1,211},{420,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldLabel_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,40}</string>
                <key>spriteSourceSize</key>
                <string>{225,40}</string>
                <key>textureRect</key>
                <string>{{440,1},{225,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldLabel_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,36}</string>
                <key>spriteSourceSize</key>
                <string>{268,36}</string>
                <key>textureRect</key>
                <string>{{424,229},{268,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldLevelBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{35,41}</string>
                <key>textureRect</key>
                <string>{{463,229},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldLevelBtn_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{25,21}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{463,263},{25,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WorldSheet.png</string>
            <key>size</key>
            <string>{495,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f2f363854e4cbf43fd0457c115d67f7:c003489d47b45c1734a889bfa437a684:0ba44a9c151ff47bb96f8020f15be208$</string>
            <key>textureFileName</key>
            <string>WorldSheet.png</string>
        </dict>
    </dict>
</plist>
