<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worldDot_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,9}</string>
                <key>spriteSourceSize</key>
                <string>{14,9}</string>
                <key>textureRect</key>
                <string>{{968,1},{14,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldIsland_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{870,413}</string>
                <key>spriteSourceSize</key>
                <string>{880,413}</string>
                <key>textureRect</key>
                <string>{{1,1},{870,413}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldIsland_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{840,548}</string>
                <key>spriteSourceSize</key>
                <string>{840,548}</string>
                <key>textureRect</key>
                <string>{{417,1},{840,548}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldLabel_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{447,77}</string>
                <key>spriteSourceSize</key>
                <string>{451,79}</string>
                <key>textureRect</key>
                <string>{{1,874},{447,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldLabel_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{535,69}</string>
                <key>spriteSourceSize</key>
                <string>{537,71}</string>
                <key>textureRect</key>
                <string>{{451,844},{535,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldLevelBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,12}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{69,82}</string>
                <key>textureRect</key>
                <string>{{451,916},{61,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldLevelBtn_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{512,916},{50,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WorldSheet-hd.png</string>
            <key>size</key>
            <string>{987,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f2f363854e4cbf43fd0457c115d67f7:c003489d47b45c1734a889bfa437a684:0ba44a9c151ff47bb96f8020f15be208$</string>
            <key>textureFileName</key>
            <string>WorldSheet-hd.png</string>
        </dict>
    </dict>
</plist>
