<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worldDot_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{25,16}</string>
                <key>spriteSourceSize</key>
                <string>{27,18}</string>
                <key>textureRect</key>
                <string>{{1,1929},{25,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldIsland_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{1738,826}</string>
                <key>spriteSourceSize</key>
                <string>{1760,826}</string>
                <key>textureRect</key>
                <string>{{1,1},{1738,826}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldIsland_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1680,1096}</string>
                <key>spriteSourceSize</key>
                <string>{1680,1096}</string>
                <key>textureRect</key>
                <string>{{1,830},{1680,1096}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldLabel_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{893,150}</string>
                <key>spriteSourceSize</key>
                <string>{901,158}</string>
                <key>textureRect</key>
                <string>{{1742,1},{893,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldLabel_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{1065,134}</string>
                <key>spriteSourceSize</key>
                <string>{1073,142}</string>
                <key>textureRect</key>
                <string>{{1684,897},{1065,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldLevelBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,24}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{138,164}</string>
                <key>textureRect</key>
                <string>{{1821,897},{120,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldLevelBtn_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{1821,1020},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WorldSheet-uhd.png</string>
            <key>size</key>
            <string>{1938,1963}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f2f363854e4cbf43fd0457c115d67f7:c003489d47b45c1734a889bfa437a684:0ba44a9c151ff47bb96f8020f15be208$</string>
            <key>textureFileName</key>
            <string>WorldSheet-uhd.png</string>
        </dict>
    </dict>
</plist>
